@import "../../styles/sass/main";
$margin-top:15%;

.hairdressers{
	margin-top:$margin-top;
}

.searchbar .hero-footer{
	padding-bottom:0;
}

.searchbar select {
    /* background: transparent; */
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 268px;
    margin: -2px;
    height: 50px;
    text-align: center;
}