@import "../../styles/sass/main";
$margin-top:15%;

.search-form{
	padding:20em;
	background: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0,0,0,0.2));
	width:100%;
}

.test{
	margin-left:-18em;
}

.alert, .alert-danger,.alert-dismissible{
	width: 50%;
    margin: 0 auto;
    font-family: $default-font-groups;
}

.custom-marker{
	margin: 3em;
}