@import "../../styles/sass/main";
$margin-top:15%;

.scrollable{
	display: block;
}
.weekview-allday-table {
	display: none;
}

.search-area{
	
  background: linear-gradient(to bottom, #06beb6, #48b1bf);
    padding: 3em;
    padding-bottom: 0;   
    width: 100%;
    margin-top: 7em;
}

.search-form > .form-wrapper {
    margin-bottom: 3em !important;
     margin-right: 0 !important; 
    width: 88% !important;
}

.search-form{	
	width:100%;
	background: linear-gradient(to left, #FFFFFF, #ECE9E6);
}

//center the form in the search form view
.form-left{

}


.result-container{
	margin-top: 1em;
}
.alert, .alert-danger,.alert-dismissible{
	width: 50%;
    margin: 0 auto;
    font-family: $default-font-groups;
}

.custom-marker{
	margin: 3em;
}
.custom-marker{
	display: block;
}

.marker-body{
	// background:$default-background-color;
    // color: white;
    // margin: 1em;
    // padding: 0.3em;
    // padding-bottom: 0;
    font-family: $default-font-groups;
	font-weight: bolder;
	color:#435e64;
     cursor: pointer;
	margin-left:0;
	margin-top: -2.5em;
	&:hover{
		cursor:pointer;
	}
	// border-radius:3px;
}
.marker-img{
	border-radius: 50%;
    max-width: 40px;
}

.hairdresser-weekly-logbook{	
	background: white;
	border: 1px solid #0da7a9;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius:0;
}
.scrollable{
	display: block;
}

.hairdresser-sticker{
	background-color: #fff;
    width: 35%;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #0da7a9;
    border-right: 0;
    vertical-align: top;
    font-size: 1pc;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px; 
	margin-bottom: 1em;
	padding: 0.56em; 
   
}

.hairdresser-buble{
	margin-top: 1em;
    min-height: 130px;
    font-size: 1pc;
    padding: 0.5em;
}

.hairdresser-profile >img{
	max-width: 100%;
	border:1px solid #0da7a9;
	border-radius:4px;
	&:hover{
		cursor:pointer;
	}
}

.hairdresser-name{
	color:lightblue;
	text-align: left;
	margin-left: 1em;
	font-family: $default-font-groups;
	&:hover{
		cursor:pointer;
	}
}
.hairdresser-info{
	color:#333;
	text-align: left;
	font-family: $default-font-groups;
	margin-left: 1em;
}
.hairdresser-info > .row > .right-block {
	border-right: 1px solid #ccc;
}
.hairdresser-info > .row > .left-block{
	margin-top: 1em;
	text-align: left;
}
.search-form .hairdresser-booking {
	width: 80%;
    color: white;
    background: #0da7a9;
    border: none;
    border-radius: 4px;
    padding: 0.6em;
    font-weight: lighter;
    margin-bottom: 1em;
}
.rating {
	text-align: left;
}

.search-hairdresser-form{
	display: block;
	margin-top:0;
}
.single-result{
	margin-bottom: 1em;
}
.search-form > .home  select, .search-form .home  .form-wrapper > input {    
	background-color:white !important;
	color:#333 !important;
	&:hover,&:focus{
		background-color:white !important;
		color:#333 !important;
	}
}

.first-element{
	margin-top: 2em;
}
.perimeter {
	width: 200px;
    text-align-last: center;
    height: 30px;
}