<section class="home search-form">
	<div class="test">
		<div class="container">
			<div class="row hidden-xs" >
			<div ng-show ="vm.disPlayInitialForm">                 
				<div uib-alert ng-repeat="alert in vm.detailAlerts" type="{{alert.type}}" close="vm.closeDetailAlert($index)">{{alert.msg}}</div>
				<form class="form-wrapper cf"  name ="search" ng-submit="vm.launchSearch(vm.selectedLocation,vm.selectedHaircut)"> 
						<select  ng-model="vm.selectedHaircut" id="haircut-type" name="haircut" class="no-rounder">
							<optgroup label="categories">
								<option value="">Quelle catégorie de coiffure?</option>
								<option ng-repeat = "haircut in vm.listOfavailableHaircuts"  value="{{haircut}}">{{haircut}}</option>
							</optgroup>
						</select>				
						<!--<input type="text" placeholder="Se coiffer où?" required  ng-model="vm.selectedLocation"  uib-typeahead="address for address in vm.getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults">-->                            
						<input uib-tooltip="code postale" name ="postCode" id="user_input_autocomplete_address"  ng-model="vm.selectedLocation" name="user_input_autocomplete_address" class="form-control" placeholder="Se coiffer où ?"/>											
						<button type="submit">GO</button>
				</form>
			</div> <!--  .hero-footer  -->
		</div> <!-- .row .hidden-xs -->
		<div class="row">
			<div  ng-hide ="vm.disPlayNoResult" >
					<div class="container">
						<div class="row hidden-xs" >
							<div>   
								<div uib-alert ng-repeat="alert in vm.detailAlerts" type="{{alert.type}}" close="vm.closeDetailAlert($index)">{{alert.msg}}</div>
								<form class="form-wrapper cf"  name ="haircutStyleForm" ng-submit="vm.launchSearch(vm.selectedLocation,vm.selectedHaircut)"> 
										<select  ng-model="vm.selectedHaircut" id="haircut-type" name="haircut" class="no-rounder">
											<optgroup label="categories">
												<option value="">Quelle catégorie de coiffure?</option>
												<option ng-repeat = "haircut in vm.listOfavailableHaircuts" required  value="{{haircut}}">{{haircut}}</option>
											</optgroup>
										</select>				
										<!--<input type="text" placeholder="Se coiffer où?" required  ng-model="vm.selectedLocation"  uib-typeahead="address for address in vm.getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults">-->                            
										<input uib-tooltip="code postale" name ="postCode" id="user_input_autocomplete_address2"  ng-model="vm.selectedLocation" name="user_input_autocomplete_address" class="form-control" placeholder="Se coiffer où ?"/>											
										<button type="submit">GO</button>
								</form>
							</div> <!--  .hero-footer  -->
						</div> <!-- .row .hidden-xs -->	
						<div class="row">
							<h3 class="no-results"> Nous n'avons pas trouvé d'annonce correspondant exactement à vos critères. </h3>
							<br/>					
						</div>
						
					</div>
				</div>
			</div>
			<div class="row">
					<div ng-show="vm.isAtLeastOneHairdresserFound" >
						<div class="container">
							<!--<div class="row">
								<div class="col-sm-offset-1 col-sm-4 col-xs-6" ng-repeat="hairdresser in vm.listOfSelectedHairdressers">
									<hairdresser-card  url = {{hairdresser.profile_picture}} id={{hairdresser._id}} description= {{hairdresser.user.name}}></hairdresser-card>								
								</div>
							</div>		-->
						</div>				
					<!--<div class="col-md-offset-1 col-md-offset-10">
						<ng-map zoom="6" center="{{vm.formatted_address}}" style="height:600px">							
							<marker animation="Animation.BOUNCE" position="{{vm.formatted_address}}" ></marker>
							<em>{{vm.formatted_address}}</em>
							<maker ng-repeat="hairdresser in vm.listOfSelectedHairdressers" position="{{hairdresser.location}}"></marker>
						</ng-map>
					</div>			-->
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-1 col-md-6">
					<div>
						<ng-map center="{{vm.formatted_address}}" zoom="11" mayTypeId="TERRAIN" style="height:500px"  on-center-changed="centerCustomMarker()">
							<marker position="{{vm.formatted_address}}" id="user"	animation="BOUNCE" on-click="vm.toggleBounce()" draggable="false"></marker>
							<marker   ng-if="vm.formatted_address!=undefined" position="{{vm.formatted_address}}"	id="user" animation="BOUNCE" on-click="vm.toggleBounce()" draggable="false"></marker>									
							<marker ng-repeat="hairdresser in vm.listOfSelectedHairdressers track by $index" position="{{hairdresser.location}}" draggable="false"></marker>
							<custom-marker   ng-repeat="hairdresser in vm.listOfSelectedHairdressers track by $index" position="{{hairdresser.location}}" id="custom-marker-{{$index}}" on-click="vm.goToHairdresserProfile(hairdresser._id)">
								<div class="marker-body">
									<p>									
										<img width="55" class="marker-img" ng-src="{{hairdresser.profile_picture}}" alt="test" align="left"/><br>
										<span class="marker-name">{{hairdresser.username}}</span>
									</p>
								</div>
							</custom-marker>
						</ng-map>
					</div>
				</div>
			</div>
		</div><!-- end main .container-->	
	</div>	
</section>