<section class="hairdresser-booking">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="row">
					<hairdresser-profile-card url="{{vm.url}}" name ="{{vm.hairdresser.username}}" type="{{vm.hairdresser.customer_type | customerTypeFilter}}"></hairdresser-profile-card>
				</div> <!-- row id card -->
				<hairdresser-menu></hairdresser-menu>
			</div> <!-- .col-sm-4 left-element -->
			<div class="col-sm-9">
				<div class="section" ng-repeat="apt in vm.hairdresser.nextbookings track by $index" ng-show="apt.appointmentState == -1?true:false">
					<div class="row" id="details" >
					  <div class="row-top">
						<span class="section-contains lbc-contains-emphasize"> Le {{apt.appointmentDate | date }} à {{apt.appointmentHour}} avec {{apt.customerLastname}} {{apt.customerFirstname}}  au {{apt.appointmentLocation}}</span>
					 </div>	
					 <hr/>
					 <div class="center section-top">
						<span class="lbc-button-center col-sm-3 ">							
							<a class="btn-default-lbc btn-lbc" ng-click ="vm.displayConfirmationModal(apt)">Annuler</a>
						</span><!-- .edit-button -->
					 </div> <!-- row section-top -->				
				   </div><!-- .row -->
			   </div> <!-- .section -->
			</div><!-- right element -->	
		</div> <!-- top row -->
	</div> <!-- .top container -->
	<!-- modal used to edit an appointment -->
	<script type="text/ng-template" id="edit-appointment.html">
	   	  	<div class="modal-header">
	             <h5 class="center modal-title">Modifier</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <p> Vous ne pouvez choisir une date dans le passé </p>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.confirm(apt)">Modifier</a>
	            <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.cancel()">Modifier</a>
	        </div>
	</script>
	<script type="text/ng-template" id="action-confirmation.html">
			<div class="modal-header">
				<h3 class="center modal-tile">Confirmation </h3>
			</div>
			<div class="modal-body">
				<span> {{$ctrl.message}} </span>
		    </div>
		     <div class="modal-footer" style="text-align:center;">
	            <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.confirm($ctrl.apt)">OUI</a>
	            <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.cancel()">NON</a>
	        </div>
	</script>
	<script type="text/ng-template" id="cancel-appointment.html">
			<div class="modal-header">
				<h3 class="center modal-tile">Annulation </h3>
			</div>
			<div class="modal-body">
			<form autocomplete="off" role="reason"  id="reason-form"  name="reasonForm"  novalidate ng-submit="$ctrl.cancelAppointment(hairdresserReason)">			
						<label for="reason" uib-tooltip="Entrez au minimum 20 caractères"> Entrez La raison:  </label><br>	
						<textarea  name="reason" ng-model="hairdresserReason" ng-minlength="50"></textarea>
			<div class="container">	
				<div class="row">
				 	<div class="col-sm-offset-1 col-sm-2">
	          			<input  type="submit"  name="reason-submit" id="reason-submit" tabindex="2" class="btn btn-confirm btn-primary" value="Enregistrer" >
	          		</div>
	          		<div class="col-sm-1">
	          			<button class="btn btn-primary btn-cancel" type="button" ng-click="$ctrl.cancel()">Cancel</button>
	          		</div>
	        	</div>
			</div>
			</form>  
		</div>
	</script>
	<script type="text/ng-template" id="success-modal.html">
   	  		<div class="modal-header-success"  ng-show="$ctrl.isSuccess">
	             <h5 class="center success modal-title">Confirmation </h5>
	        </div>
	        <div class="modal-header-error"  ng-hide="$ctrl.isSuccess">
	             <h5 class="center error modal-title">Erreur </h5>
	        </div>
	        <div class="modal-body" id="modal-body" ng-show="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> {{$ctrl.message}}</span>
	        </div>
	        <div class="modal-body" id="modal-body" ng-hide="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> {{$ctrl.message}} !</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-show="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-success" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-hide="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-error" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
	</script>
	<script type="text/ng-template" id="update-appointment.html">
  		<div class="modal-header">
			<h3 class="center modal-tile">Confirmation </h3>
		</div>
		<div class="modal-body">
			<p class="input-group">
	          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
	          <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
	        </p>
	    </div>
	     <div class="modal-footer" style="text-align:center;">
	        <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.confirm($ctrl.apt)">Ok</a>
	        <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.cancel()">Annuler</a>
	    </div>
	</script>
      <script type="text/ng-template" id=" appoitnment-date-close.html">
			<div class="modal-header-warning">
				<h3 class="center modal-tile">Avertissement</h3>
			</div>
			<div class="modal-body">
				<span> {{$ctrl.message}} </span>
		    </div>
		     <div class="modal-footer" style="text-align:center;">
	            <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.ok($ctrl.apt)">OK</a>
	        </div>
	</script>
</section><!-- hairdresser -- >