<section class="admin section-padding">
    <div class="container section-padding">            
        <div class="row"> 
            <div class="col-md-3" ng-repeat="hairtCategory in galleryEntries | orderBy: -sortEntry: true track by $index">
                <div class="gallery-contain">      
                    <div class="entry-image">
                        <h5 class="entry-category">{{hairtCategory.name | lowercase}}</h5>
                        <img class="gallery-entry"  ng-src ="{{hairtCategory.entry.url}}" ng-class="{ 'img-selected' : isSelected[$index], 'img-already-selected' : isAlreadySelected[alreadySelected(hairtCategory.entry.url)]}"  alt="{{hairtCategory.name}}" ng-click="entrySelected(hairtCategory.entry.url, hairtCategory.name, hairtCategory.entry.hairdresserCreated, $index); isSelected[$index] =!isSelected[$index]" 
                        ng-dblclick="unpublish(hairtCategory.entry.url)"/>
                    </div>                                                         
                </div>               
            </div>
        </div> <!-- .row -->
        <div class="row">
             <div class="col-md-offset-6 col-md-1">
                <button class="btn-primary" ng-click = "saveSelectedEntries()"> Save </button> 
            </div>  
        </div>          
    </div><!-- .container -->    
</section>
