<section class="hairdresser section-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="row">
					<uploader url="{{profile_picture}}"></uploader>
				</div> <!-- row id card -->
				<menu></menu>
			</div> <!-- .col-sm-4 left-element -->
			<div class=" col-sm-offset-1 col-sm-8">
				
					<div class="row section row-top" id="last-connection-date">
						<span class="section-contains left"> Dernière connexion : {{vm.hairdresser.lastconnection |date}}</span>
						<span class="section-contains right">Status : {{vm.hairdresser.accountstatus | accountstatus}}</span>
					</div> <!-- row section-->			
				
					<div class="row row-top ">
						<div class="col-sm-5 section section-height section-widget center" ng-click="vm.goToBooking()">				
								<h5 class="section-t" uib-tooltip="nombre de réservation confirmée(s)">Prochain Rendez-vous</h5>						
								<hr>
								<span class="section-contains section-number"> {{vm.hairdresser.nextbookings.length}}</span>
						</div><!-- .section -->
						<div class="col-sm-offset-2 col-sm-5 section-height center section">
							<h5 class="section-t ">Nombre de visite(s)</h5>
							<hr>
								<span class="section-contains section-number">0</span>
						</div><!-- .section -->
				  </div><!-- .row -->
				  <div class="row row-top ">
						<div class="col-sm-5 section section-height center section-widget" ng-click="vm.goToMessage()">				
								<h5 class="section-t  ">Message non lu(s)</h5>						
								<hr>
								<span class="section-contains section-number">0</span>
						</div><!-- .section -->
						<div class="col-sm-offset-2 col-sm-5 section-height center section">
							<h5 class="section-t ">Nombre d'avis</h5>
							<hr>
								<span class="section-contains section-number">0</span>
						</div><!-- .section -->
				  </div><!-- .row -->
				  <div class="row row-top ">
						<div class="col-sm-5 section section-height center">				
								<h5 class="section-t  ">Prochain Prélèvement</h5>						
								<hr>
								<span class="section-contains section-number">01/01/1990</span>
						</div><!-- .section -->
						<div class="col-sm-offset-2 col-sm-5 section-height center section section-widget" ng-click="vm.goToPicture()">
							<h5 class="section-t ">Nombre de photos</h5>
							<hr>
								<span class="section-contains section-number">0</span>
						</div><!-- .section -->
				  </div><!-- .row -->
			
			</div><!-- right elemnt -->			
		</div> <!-- top row -->
	</div> <!-- .top container -->
	<!--<div class="container" ng-hide="vm.hairdresser.accountstatus">
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6 " >
				<div class=" section section-height-min ">
					<h5 class= "section-t-lower"> Compte désactivé</h5>
				</div> 
				<div class="section-padding-3">
					<p class="section-content"> Votre compte est actuellement désactivé. S'il s'agit d'un compte nouvellement créé, veuillez l'activer en cliquant sur le lien que vous avez reçu lors de votre inscription, si non contacter le support.</p>
					
						<a class="btn-lbc btn-default"> Contacter le support </a>
				
				</div>	
			</div>
		</div>
	</div>  <!--end .container  hairdresser account hidden is account not activated -->
</section><!-- hairdresser -- >