@import "../../styles/sass/main";

.hairdresser{
	margin-top:5%;  
	.card{
		height:200px;
	}
	.card-name{
	position: relative;
    top: 50%;
    color:$white;
	}
	.card-details{
		display:none;
	}
	.badge{
	  background-color: $white;
	  margin:0.8%;
	  color:$button-color;
	}
}

.hairdresser .btn-lbc{	
  color: white;
  padding: 12px 35px;
  border-radius: 4px;
  font-weight: bold;
  background: $default-background-color;
  border:1px solid  $default-background-color;
  transition: background 0.3s ease;
  &:hover{
       background: $default-background-color;
        color: white;
    }
}

.hairdresser .btn-edit{
      color: white;
    padding: 6px 12px !important;
    border-radius: 4px;    
    background: #0da7a9;
    border: 1px solid #0da7a9;
    margin-top: 0.4em !important;
    transition: background 0.3s ease;
    text-transform: lowercase;
    display: inline-block;
     &:hover{
       background: $default-background-color;
        color: white;
    }
	&:focus,&:active,&:visited{
		outline: none;
	}
}

.hairdreser .row-top-2{
	margin-top: 4%;
}