@import "../../styles/sass/main";

.hairdresser{
	margin-top:5%;  
	.card{
		height:200px;
	}
	.card-name{
	position: relative;
    top: 50%;
    color:$white;
	}
	.card-details{
		display:none;
	}
	.badge{
	  background-color: $white;
	  margin:0.8%;
	  color:$button-color;
	}
}
