@import "../../styles/sass/main";

.hairdresser-logbook{
	margin-top:5%;
}

.hairdresser-logbook .card{
	height:200px;
}
.hairdresser-logbook .card-name{
	position: relative;
    top: 50%;
}

.hairdresser-logbook .card-details{
	display:none;
}
.hairdresser-logbook .badge{
  background-color: $white;
  margin:0.8%;
  color:$button-color;
}

.hairdresser-logbook .btn-lbc{
	display:none;
}

.hairdresser-logbook .logbook-spinner {
	width: 20%;
    margin-top: 20%;
}