<section class="hairdresser-logbook">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="row">
					<hairdresser-profile-card url="{{vm.url}}" name ="{{vm.hairdresser.username}}" type="{{vm.hairdresser.customer_type | customerTypeFilter}}"></hairdresser-profile-card>
				</div> <!-- row id card -->
				<div class=" row menu-item">
					<div class="left-menu">
							<div class="hairdresser-menu">
								<ul>
									<li class="menu-item"><a ui-sref="hairdresser" >Resumé</a></li>
									<li class="menu-item"> <a ui-sref="hairdresserbooking"> Mes réservations<span class="badge">{{vm.hairdresser.appointments.length}}</span> </a></li>
									<li class="menu-item"><a ui-sref="hairdresserlogbook" >Mon Agenda </a></li>
									<li class="menu-item"><a ui-sref="hairdresserpicture">Mes Photos </a></li>
									<li class="menu-item"><a ui-sref="hairdresseraccount" >Mon Compte </a></li>
									<li class="menu-item"><a ui-sref="hairdressermessage" >Message(s)<span class="badge">{{vm.hairdresser.messages.length}}</span> </a></li>
								</ul>
							</div> <!-- end .customer-menu -->
					</div>		<!-- 	end .left-menu -->	
				</div><!-- row menu -->
			</div> <!-- .col-sm-4 left-element -->
			<div col-sm-offset-1 col-sm-8>
				<button class="button-default-lbc" ng-click="logbookTemplate='/logbook.html'">Agenda</button>
				 <div id="logbook-content" ng-include src="logbookTemplate"></div>
					<script type="text/ng-template" id="/logbook.html">
							<div id="logbook">
							    <div class='datepicker'>
							      <div uib-datepicker ng-model="vm.dt" class="well well-sm" datepicker-options="vm.options"></div>
							    </div>
							</div> <!-- logbook -->
				   </script>  
			</div> <!-- right element -->			
		</div> <!-- top row -->
	</div> <!-- .top container -->
	<script type="text/ng-template" id="appointment.html">
			<div class="modal-header default" id="modal-header">
				<h5 class="center modal-tile">prochain Rendez-vous</h5>
			</div>
	        <div class="modal-body default" id="modal-body">
	           <span class="section-label"> Le {{$ctrl.dayOfWeek |date:'dd-MMM-yyyy' }}</span> à <span class="section-label">{{$ctrl.appointmentHour}}</span> avec <span class="section-label">{{$ctrl.customerUsername}}</span> <br/>
	           <button class="btn btn-confirm" type="button" ng-click="$ctrl.ok()">Confirmer</button>
	           <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">Annuler</button>

	        </div>
	        <div class="modal-footer default">
	            <button class="btn btn-back" type="button" ng-click="$ctrl.back()">Retour</button>
	        </div>
   	</script>
   	<script type="text/ng-template" id="emptyappointment.html">
			<div class="modal-header default" id="modal-header">
				<h3 class="center modal-tile">Empty</h3>
			</div>
	        <div class="modal-body default" id="modal-body">
	           <span class="connection-required" > Vous devez vous connecter pour pouvoir réserver une séance</span>
	        </div>
	        <div class="modal-footer default" >
	            <button class="btn btn-confirm" type="button" ng-click="$ctrl.ok()">OK</button>
	            <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">Annuler</button>
	        </div>
   	</script>
   	<script type="text/ng-template" id="lockedappointment.html">
			<div class="modal-header default" id="modal-header">
				<h3 class="center modal-tile">Locked</h3>
			</div>
	        <div class="modal-body default" id="modal-body">
	           <span class="connection-required" > Vous devez vous connecter pour pouvoir réserver une séance</span>
	        </div>
	        <div class="modal-footer default" >
	            <button class="btn btn-confirm" type="button" ng-click="$ctrl.ok()">OK</button>
	            <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">Annuler</button>
	        </div>
   	</script>
   	<script type="text/ng-template" id="appointmentconfirmation.html">
			<div class="modal-header default" id="modal-header">
				<h3 class="center modal-tile">Confirmation</h3>
			</div>
	        <div class="modal-body default" id="modal-body">
	           <span class="section-label" > Vous avez confirmé votre rendez-vous du {{$ctrl.dayOfWeek}} à {{$ctrl.appointmentHour}}</span>
	        </div>
	        <div class="modal-footer default" >
	            <button class="btn btn-confirm" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	</script>
   	<script type="text/ng-template" id="removeAppointmentmodal.html">
			<div class="modal-header default" id="modal-header">
				<h3 class="center modal-tile">Confirmation</h3>
			</div>
	        <div class="modal-body default" id="modal-body">
	           <span class="section-label" style="text-algin:center;"> Vous avez annulé votre rendez-vous du {{$ctrl.dayOfWeek}} à {{$ctrl.appointmentHour}}</span>
	        </div>
	        <div class="modal-footer default">
	            <button class="btn btn-confirm" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	</script>
   	<script type="text/ng-template" id="errorconfirmation.html">
			<div class="modal-header default" id="modal-header">
				<h3 class="center modal-tile">Erreur</h3>
			</div>
	        <div class="modal-body default" id="modal-body">
	           <span class="section-label" > Erreur lors de la confirmation du rendez-vous, veuillez recommencer dans quelque instant</span>
	        </div>
	        <div class="modal-footer default">
	            <button class="btn btn-confirm" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	</script>
   		<script type="text/ng-template" id="removeAppointmenterrormodal.html">
			<div class="modal-header default" id="modal-header">
				<h3 class="center modal-tile">Erreur</h3>
			</div>
	        <div class="modal-body default" id="modal-body">
	           <span class="section-label" style="text-algin:center;"> Erreur lors de l'annulation  du rendez-vous, veuillez recommencer dans quelque instant</span>
	        </div>
	        <div class="modal-footerdefault">
	            <button class="btn btn-confirm" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	</script>
</section><!-- hairdresser -- >