<section class="admin section-padding container">
    <div class="row">
        <div class="col-sm-5">
            <div class="page-header">
                <h1><a ui-sref="admincatalogs">Catalog</a> / {{catalog.name}}</h1>
            </div>
            <form class="form" name="detailForm"><fieldset>
                <legend>Details</legend>
                <div uib-alert ng-repeat="alert in detailAlerts" type="{{alert.type}}" close="closeDetailAlert($index)">{{alert.msg}}</div>               
                <div class="form-group" ng-class="{'has-error': hasError(detailForm.name)}">
                    <label class="control-label" for="name">Name:</label>
                    <input type="text" name="name" id="name" class="form-control" ng-model="catalog.name" required>
                    <span class="help-block" ng-show="showError(detailForm.name, 'required')">This field is required</span>
                </div>
                <div class="form-group" ng-class="{'has-error': hasError(detailForm.description)}">
                    <label class="control-label" for="description">description:</label>
                    <input type="text" name="description" id="description" class="form-control" ng-model="catalog.description" required>
                    <span class="help-block" ng-show="showError(detailForm.description, 'required')">This field is required</span>
                </div>
                <div class="checkbox-inline">
                   <label><input type="checkbox" name="isPublished" id="isPublished" class="" ng-model="catalog.isPublished"/>is published?</label>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" ng-disabled="!canSave(detailForm)" ng-click="update()">Update</button>
                </div>
            </fieldset></form>
            <form class="form" name="contentForm"><fieldset>
                <legend>Add Content</legend>
                <div uib-alert ng-repeat="alert in detailAlerts" type="{{alert.type}}" close="closeDetailAlert($index)">{{alert.msg}}</div>               
                <div class="form-group" ng-class="{'has-error': hasError(contentForm.name)}">
                    <label class="control-label" for="name">url:</label>
                    <input type="text" name="name" placeholder="link" id="name" class="form-control" ng-model="content.url" required>
                    <span class="help-block" ng-show="showError(contentForm.name, 'required')">This field is required</span>
                </div>                
                <div class="form-group" ng-class="{'has-error': hasError(contentForm.description)}">
                    <label class="control-label" for="description">description:</label>
                    <input type="text" name="description" placeholder="description" id="description" class="form-control" ng-model="content.description">                   
                </div>
                <div class="checkbox-inline">
                   <label><input type="checkbox" name="isPublished" id="isPublished" class="" ng-model="content.isPublished"/>is published?</label>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" ng-disabled="!canSave(contentForm)" ng-click="updateContent(content)">Update</button>
                </div>
            </fieldset></form>
            <form class="form" name="deleteForm"><fieldset>
                <legend>Danger Zone</legend>
                <alert ng-repeat="alert in deleteAlerts" type="{{alert.type}}" close="closeDeleteAlert($index)">{{alert.msg}}</alert>
                <div class="form-group">
                    <span class="help-block">
                        <span class="label label-danger">If you do this, it cannot be undone.</span>&nbsp;<span class="text-muted">You may also create orphaned document relationships too.</span>
                    </span>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-delete" ng-click="deleteCategory()">Delete</button>
                </div>
            </fieldset></form>
        </div>
        <div class="col-sm-offset-1 col-sm-6">
            <div id="gallery-view">
                <div class="row">
                    <div class="col-sm-4 gallery-entry" ng-repeat ="content in catalog.contents">                        
                            <img class="img-gallery" ng-src = "{{content.url}}" ng-click="showLightBox = true"/>
                            <span class="close-thik" ng-click="removeContent(content._id)"></span> 
                            <lightbox-directive class="angular-lightbox" ng-class="{ hidden : !showLightBox }">
                              <article>
                                <header>
                                  <a class="close-btn" ng-click="$parent.showLightBox = false"><i class="fa fa-times-circle"></i></a>
                                </header>
                                <content>
                                  <img  ng-src="{{content.url}}" />
                                </content>
                              </article>
                            </lightbox-directive>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- deletion confirmation modal -->
    <script type="text/ng-template" id="confirmation.html">
        <div class="modal-header">
                     <h5 class="center modal-title">Confirmation !</h5>
        </div>
        <div class="modal-body">
            <p class="deletion-confirmation">Souhaitez-vous supprimer cette image ? </p>
       </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Yes</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">No</button>
        </div>
    </script>  
</section>