<section class="uploader">
	<div class="empty-card" ng-if='url==""'>
	 <div class="empty-profile-container">	  	
	  	<div class="empty-profile-update">
	  		<span class="camera" ng-click="launchModal()"></span>
	  	</div>
	  </div>
	</div>
	<div ng-if='url!=""'>	 	  
	  <div class="profile-container">
	  	<img ng-src="{{vm.trustSrc(url)}}" class="img-profile"/>	  	
	  	<div class="profile-update">
	  		<span class="camera" ng-click="launchModal(destination)"></span>
	  	</div>
	  </div>
	</div>	
	<script type="text/ng-template" id="uploder.html">
			<div class="modal-header default" id="modal-header">
				<h3 class="center modal-tile"></h3>
			</div>
	        <div class="modal-body default" id="modal-body">
	            <div class="uploader">
					<div ng-show="!$ctrl.uploadPhoto && !$ctrl.loading" class="drop-box drop-box-container" ngf-drag-over-class="drop-box-dragover" ngf-change="$ctrl.readFileImg($files)" ngf-drop="" ngf-select="" ng-model="files" ngf-multiple="false" ngf-allow-dir="false" accept="image/*" ng-cloak="">
				        <span>Déposer une image ou cliquer pour en sélectionner une</span>
			        </div>
					          <!--progress-->
				      <div class="drop-box-container" ng-show="loading" ng-cloak="">
				        <div class="wrap">
				          <!-- <md-progress-circular class="md-hue-2" ng-show="loading" md-mode="indeterminate" style="margin: auto;">
				          </md-progress-circular> -->
				        </div>
				      </div>
				        <!--Img Crop-->
				       <div class="container" ng-hide="!$ctrl.uploadPhoto && !$ctrl.loading">
				       		<div class="row">
				       			
				       			<div class="col-sm-6">
				       				<div class="cropArea">    		 	
						    		 	<img-crop image="$ctrl.uploadPhoto" area-type="square" result-image-size="230" area-min-size="220" result-image="$ctrl.myCroppedImage"></img-crop>
								 	</div>
				       			</div>
				       			<div class="col-sm-6">
				       				<div>Image réduite</div><br/>
				  					<div><img ng-src="{{$ctrl.myCroppedImage}}" /></div>
				       			</div>
				       		</div>
				       </div>			         				  		
				</div>
	        </div>
	        <div class="modal-footer default">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Envoyer</button>
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">Annuler</button>
	        </div>
	</script>
</section>
	
				

			
