@import "../../styles/sass/main";


.hairdresser-message .card{
	height:200px;
}
.hairdresser-logbook .card-name{
	position: relative;
    top: 50%;
}

.hairdresser-message .card-details{
	display:none;
}
.hairdresser-message .badge{
  background-color: $white;
  margin:0.8%;
  color:$button-color;
}