<div class="home">
 <!--begin bg-carousel-->
      <div id="bg-fade-carousel" class="carousel carousel-fade" data-ride="carousel">
      <!-- Wrapper for slides -->
          <div class="carousel-inner">
              <div class="item active">
                  <div class="slide1"></div>
              </div>
            <div class="item">
                  <div class="slide2"></div>
            </div>
             <div class="item">
                  <div class="slide3"></div>
              </div> 
              <div class="item">
                  <div class="slide3"></div>
              </div> 
          </div><!-- .carousel-inner --> 
          
          <div class="container carousel-overlay text-center">
              <div class="row catch-phrase-top">
                  <div class=" col-sm-offset-3 col-sm-3" id="home-start-change">
                      <h1><i>Lebeaucheveu</i></h1>
                  </div>
              </div><!-- .row-->
              <div class="row">
                  <div class="col-sm-offset-3 col-sm-6">
                      <h2>
                          <span class="catch-phrase-low">Prenez rendez-vous avec votre coiffeuse !</span>
                     </h2>
                  </div>
              </div><!-- .row-->            
             <div class="row">
                <form class="form-wrapper cf"  name ="search" ng-submit="vm.goToSearchBarView(search)"> 
                            <select  ng-model="vm.selectedHaircutCategory" id="haircut-type" name="haircut" class="no-rounder">
                                <optgroup label="categories">
                                    <option value="">Type de cheveu</option>
                                    <option ng-repeat = "haircut in vm.listOfAvailableCategories"  value="{{haircut}}">{{haircut}}</option>
                                </optgroup>
                            </select>
                            <!--<input type="text" placeholder="adresse, ville ... " required  ng-model="vm.selectedLocation"  uib-typeahead="address for address in vm.getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults">-->                            
                            <input uib-tooltip="adresse, ville" name ="postCode" id="user_input_autocomplete_address"  ng-model="vm.selectedLocation" name="user_input_autocomplete_address" class="form-control" placeholder="Où se coiffer (adresse, ville ... ) ?"/ required>											
                            <button type="submit">GO</button>
                </form>
              </div><!-- .row -->
         </div>
      </div><!-- .carousel --> 
      <!--end bg-carousel-->
   <section  id="how-to-use" class="how-it-works from-previous-section">
      <div class="container">
          <div class="row">
              <div class="col-sm-4 cacthing-details">
                  <div class="row row-bottom-5em">
                      <div class=" col-sm-12 qualify"></div>
                  </div><!-- end .row-->
                  <div class="row">
                    <h4>Des intervenants qualifiés </h4>
                    <p class="text-muted">
                        Des coiffeuses professionnelles et expérimentées soigneusement sélectionnées par notre équipe aux services de vos cheveux  dans toute la France.
                    </p>
                  </div><!-- end .row-->
              </div><!-- end .catching-details-->
             <div class="col-sm-4 cacthing-details">
                  <div class="row row-bottom-5em">
                      <div class=" col-sm-12 advice"></div>
                  </div><!-- end .row-->
                  <div class="row">
                    <h4>Des conseils et astuces </h4>
                    <p class="text-muted">                        
                         Lisez régulièrement notre blog et profitez des astuces et des dernières tendances beauté en rejoignant la communauté Lebeaucheveu.                    .
                    </p>
                  </div><!-- end .row-->
              </div><!-- end .catching-details-->
              <div class="col-sm-4 cacthing-details">
                  <div class="row row-bottom-5em">
                      <div class=" col-sm-12 proximity"></div>
                  </div><!-- end .row-->
                  <div class="row">
                    <h4>Toujours plus près de vous </h4>
                    <p class="text-muted">
                       Grâce à notre réseau de coiffeuses présentes dans toute la France, vous trouverez toujours des intervenants qualifiés à proximité de chez vous.
                    </p>
                  </div><!-- end .row-->
              </div><!-- end .catching-details-->
          </div><!-- end .row -->
      </div><!-- end .container -->
      <div class="container row-top-5em">
          <div class="row">
              <div class="col-sm-4"> 
                  <img src="work-macbook2.png" alt="how it works" class="img-responsives"/>
              </div>
              <div class="col-sm-8">
                  <div class="row">
                      <div class="col-sm-offset-1  col-sm-11">
                          <h3 class="section-title"> Comment ça marche ? </h3>
                          <p class="text">
                             Il suffit de quelques clics, pour réserver un rendez-vous avec une coiffeuse à proximité de chez vous...
                          </p>
                      </div>
                      <button class="btn-lbc-default btn-more-info btn-home" ng-click="vm.goToJoinState()">En savoir plus </button>
                  </div><!-- end .row -->
              </div>
          </div><!-- end .row -->
      </div><!-- end .container -->
   </section>
  </section> <!-- haircut-categories--> 
  <section id="motivation" class="section-start">
    <div class="container">
        <div class="row">          
            <div class="col-md-6 map">
                    <svg  version="1.1" id="Calque_1" xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;" width=400 height=400 viewBox="0 0 600 650" overflow="visible" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" enable-background="new 0 0 300 300" xml:space="preserve" class="mapSvg">   
                      <a  ng-repeat="zone in vm.zonePaths track by $index" xlink:href="{{zone.url}}" ng-mouseover="vm.displayRegionName(zone.title)" ng-mouseleave="vm.name =''">
                        <path id="{{zone.title}}"title="{{zone.title}}" d="{{vm.obj[$index]}}"  fill="{{vm.svgPathFiller(zone.id,vm.truncateTo2CharactersHairdresserDepartementList,'#0DA7A9','#D1F5FF')}}" stroke="{{vm.mapstroke}}" stroke-width="{{vm.mapstroke_width}}"/>
                      </a>    
                    </svg>
                    <div class="path-name">
                        {{vm.name}}
                    </div>
            </div><!-- end map -->
            <div class="col-sm-6">
                <div class="row">
                    <h3>Selectionnez votre région et trouvez votre coiffeuse </h3>
                </div><!-- .row -->
            </div><!-- col-sm-6 -->
        </div> <!-- .row -->        
    </div> <!-- .container -->     
  </section> <!-- #motivation -->
  <section id="haircuts-example" class="from-previous-section">
    <div class="container-fluid hidden-xs">
        <div class="row ">
          <div class="col-xs-12">
              <h3 class="section-title"> Dernières créations </h3>
          </div>
       </div> <!-- .row -->
      <div class="row row-top-5em">
        <div class="col-sm-4">
          <card-with-user description="une nouvelle coiffure " url={{vm.url}}  user={{vm.url}}></card-with-user>
        </div>
        <div class=" col-sm-4">
          <card-with-user description="une nouvelle coiffure " url={{vm.url}} user={{vm.url}}></card-with-user>
        </div>
        <div class="col-sm-4">
          <card-with-user description="une nouvelle coiffure " url={{vm.url}} user={{vm.url}}></card-with-user>
        </div>
      </div> <!-- .row -->
    </div><!-- .container-fluid -->    
    <div class="container-fluid visible-xs">
        <div class="row row-top-5em">
        <div class="col-xs-12">
          <card-with-user description="une nouvelle coiffure " url={{vm.url}} user={{vm.url}}></card-with-user>
          </div>
        <div class="col-xs-12">
          <card-with-user description="une nouvelle coiffure " url={{vm.url}} user={{vm.url}}></card-with-user>
        </div>
        <div class="col-xs-12">
          <card-with-user description="une nouvelle coiffure " url={{vm.url}} user={{vm.url}}></card-with-user>
        </div>
      </div><!-- .row -->   
    </div> <!-- .container-fluid .visible-xs -->
  </section> <!-- #haircuts-example -->  
  <section id="customer-advice" class="from-previous-section">
    <div class="container-fluid">
        <div class="row row-top-5em">
          <div class="col-xs-12">             
               <h3 class="section-title"> Des clients satisfaits</h3>
          </div>
        </div> <!-- .row -->
        <div class="row row-top-5em">
          <div class="col-xs-12 col-sm-4">   
            <figure class="left">       
              <img src="{{vm.url}}" class="img-responsive block-center bottom-3em avatar-circle">
            </figure>
            <p class="quote"><span>&ldquo;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco .<span>&rdquo;</span></p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <figure class="left">       
                <img src="{{vm.url}}" class="img-responsive   block-center bottom-3em avatar-circle">
            </figure>
            <p class="quote"> <span>&ldquo;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco.<span>&rdquo;</span></p>
          </div>
          <div class="col-xs-12 col-sm-4">
             <figure class="left">       
              <img src="{{vm.url}}" class="img-responsive   block-center bottom-3em avatar-circle">
            </figure>
            <p class="quote"> <span>&ldquo;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco.. <span>&rdquo;</span></p>
          </div>
      </div><!-- .row -->
    </div> <!-- .container-fluid -->
  </section>
</div> 
