@import "../../styles/sass/main";
$circle-radius:8%;
$box-shadow-size:4px;
$details-height:18%;
$details-background:#999; /* or c8c8c8*/
$shadow-color:#5F5F5F;
$border-style:dashed;
$home-margin-top:0;
$home-section-padding:40px;
$how-to-use-background-color:#c98;
$motivation-background-color:#c23;
$haircuts-example-background-color:#ccc;
$customer-advice-background-color:#c05;
$legal-notice-background-color:#c06;
$home-section-height:50em;
$how-to-use-margin:0;
$section-default-background-color-1:rgba(229, 229, 229, 0.29);//rgba(15, 124, 125, 0.65);//rgb(13,167,169);
$section-default-background-color-2:rgba(240, 240, 240, 0.25);
$footer-background-color:#435e64;
/** How it work section */
.step-badge{
	width:$circle-radius;
	height:$circle-radius;
	border-radius:50%;
	color:$white;
	background:$section-default-background-color-1;
	margin:0 auto;
	text-align:center;
	position:relative;
	span{
		font-weight:700;
		font-size:1.5em;
	}
	&:hover,&:focus{
		cursor:pointer;
	}
}
.step-details{
	position:relative;
    opacity:0;
	background:$details-background;
	color:$white; 
	text-align:center;
	height:$details-height;
	@include box-shadow-lbc-default ($box-shadow-size,$shadow-color);
}

#how-it-work{
    margin-top:5%;
}

.toggle-opacity{
    opacity:1;
}

@keyframes animation1 {
            0% {
                transform: scale(0.01, 0);
                
            }
            50% {
                transform: scale(0.01, 1);
                
            }
            100% {
                transform: scale(1, 1);
                /*background: rgba(98, 123, 157, 1);*/
            }
        }
        
        .anim1 {
            animation-name: animation1;
            animation-duration: 2s;
            transform-origin: 50% 100%;
            animation-fill-mode: forwards;
        }
        
        .anim2 {
            animation-name: animation2;
            animation-duration: 1s;
            transform-origin: 50% 100%;
            animation-fill-mode: forwards;
        }
		
        
        #circle {
            position: relative;
            width: 80px;
            height: 80px;
            left: 160px;
            top: 160px;
            background: rgb(70, 85, 105);
            border-radius: 50%;
        }
        
        @keyframes animation2 {
            0% {}
            100% {
                transform: translateY(-($details-height));
              
            }
        }
       
        
        .txt {
            transition: all 0.5s ease;
            transition-delay: 1.5s;
            padding: 20px;
        }
        
        .hide {
            opacity: 0;
        }
        
        .show {
            opacity: 1;
        }

/** Section color overlay **/

#how-to-use{
    background: $section-default-background-color-2;
    margin: $how-to-use-margin;
    padding: $home-section-padding;
    color:#333;
}

#motivation{
    background: $section-default-background-color-1;
    margin: $how-to-use-margin;
    padding: $home-section-padding;
}

#haircuts-example{
    background: $section-default-background-color-2;
    margin: $how-to-use-margin;
    padding: $home-section-padding;
}

#customer-advice{
    background: #fdfaef;
    margin: $how-to-use-margin;
    padding: $home-section-padding;
}

#legal-notice{
    background: $footer-background-color;
    margin: $how-to-use-margin;
    padding: $home-section-padding; 
    color:#fafafa;   
}
.home section {
    height:$home-section-height;
    color:$white;
}

.home .update-background{
    background:'#f0f0f0'
}


.home select{
    font-family: $default-font-groups;
}