<section class="customeraccount">
	<div class="container">
		<div class="row">
			<div class=" col-sm-3">		
				<div id="customer-id-card" class="content-widget">
					<div class="row">
						<div ng-show='vm.customer.photoUrl' class="col-xs-offset-4 col-xs-4">
							<div class="image-proe">
								<img class='img-responsive img-circle' src='{{vm.customer.photoUrl}}'/>
							</div>
						</div>
						<div ng-hide='vm.customer.photoUrl' class="col-xs-offset-4 col-xs-4">
							<div class="image-profile">								
							</div>
						</div>
					</div>					
					<ul>						
						<li><span class="customer-name">{{ vm.customer.lastname }} {{vm.customer.firstname}}</li>					
					</ul> 
				</div>		<!-- end .customer-id-card -->
				<div class="left-menu">
					<customer-menu></customer-menu>
				</div>		<!-- 	end .left-menu -->	
			</div><!-- col-sm-offset-1 col-sm-3 col-lg-3 -->
			<div class=" col-sm-9  customer-page-content">
				<div class="section">
					<div class=" row section-top">
						<span class="section-t col-sm-3">
								<h4>Profile</h4>
						</span><!-- .section-title -->
						<span class="col-sm-3 edit-button">
							<a class="btn-default-lbc btn-lbc" ng-click="vm.launchUpdateProfileModal()">Modifier</a>
						</span><!-- .edit-button -->
					</div> <!-- row section-top -->
					<hr/>
					<div class="row" id="customer-profile">
							<div class=" row-top col-sm-3 left">
								<span class="section-contains"> Prénom : {{::vm.customer.firstname}}</span><br/>
								<span class="section-contains"> Nom : {{::vm.customer.lastname}}</span><br/>
							</div><!-- .left -->
							<div class=" row-top col-sm-6 right">
								<span class="section-contains"> Email :  {{::vm.customer.email}} </span><br/>
								<span class="section-contains"> Nom d'utilisateur: {{::vm.customer.username}}</span><br/>
							</div>
					</div> <!-- row haidresser-profile -->
				</div> <!--.section -->	
				<div class="section">
					<div class=" row section-top">
						<span class="section-t col-sm-3">
								<h4>Préferences</h4>
						</span><!-- .section-title -->
					</div> <!-- row section-top -->
					<hr/>
					<div class=" row section-top">
						<span class="section-t col-sm-3">
								<h4>Addresse(s)</h4>
						</span><!-- .section-title -->
						<span class="col-sm-3 edit-button">
							<a class="btn-default-lbc btn-lbc" ng-click ="vm.updatePreferenceModal()">Ajouter</a>
						</span><!-- .edit-button -->
					</div> <!-- row section-top -->
					<hr/>
					<div class="row" id="preference">
						<div class="col-sm-5 row-top left" ng-repeat ="location in vm.customer.locations track by $index">
							<span class="section-contains">Adresse {{$index+1 }}: {{::location.address }} {{::location.zipcode}} {{::location.city}}</span> <button class="btn btn-edit btn-primary" type="button" ng-click="vm.updateLocation(location)">Modifier</button>			
						</div>						
					</div> <!-- preferences -->
				</div><!-- .section -->
				<div class="section">
					<div class=" row section-top">
						<span class="section-t col-sm-3">
								<h4>Sécurité</h4>
						</span><!-- .section-title -->
						<span class="col-sm-3 edit-button">
							<a class="btn-default-lbc btn-lbc">Mot de passe</a>
						</span><!-- .edit-button -->
					</div> <!-- row section-top -->
					<hr>
					<div class="row row-top">
						<span class="section-contains left">Votre mot de passe expire dans: {{vm.customer.passwordExpirationDate}}</span>
					</div><!-- .row .row-top -->
				</div> <!-- .section -->
			</div><!-- end .customer-page-content -->
		</div> <!-- end top row -->
	</div> <!-- end top container --> 
	<script type="text/ng-template" id="customerprofile.html">
		 <div class="modal-header">
             <h3 class="center modal-title">Profile</h3>
        </div>
        <div class="modal-body">
			<form autocomplete="off" role="updapte"  id="update-form"  name="updateForm"  novalidate ng-submit="$ctrl.updateProfile(updateForm)">
				                              <!-- username -->
				<div class="field-wrap" ng-class="{ 'has-error' : updateForm.username.$invalid && !updateForm.username.$pristine }">
				                                  <label class="label-displayed" for="username"></label>
				                                  <input type="text" name="username" id="username"  ng-model ="$ctrl.customer.username"  customer={{$ctrl.customer.username}} tabindex="1"  placeholder="nom d'utilisateur" value="" required username-validator>
				                                  <!-- in case of an error the message below is displayed as part of the list of message errors -->
				                                  <span ng-if='updateForm.username.$pending.uniqueusername' class='text-info'>Vérification de la disponibilité ...</span>
				                                  <span ng-show='updateForm.username.$invalid&& !updateForm.username.$error.uniqueusername &&!updateForm.username.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>
				                                  <span ng-show="updateForm.username.$invalid &&updateForm.username.$error.uniqueusername&&!updateForm.username.$pristine" class="text-warning">Le nom d'utilisateur choisi n'est plus disponible.</span>
				</div>
				                                 <!-- firstname -->
				<div class="field-wrap" ng-class="{ 'has-error' : updateForm.firstname.$invalid && !updateForm.firstname.$pristine }">
				                                  <label class="label-displayed" for="firstname"></label>
				                                  <input type="text" name="firstname" id="firstname"  ng-model ="$ctrl.customer.firstname" tabindex="1"  placeholder="prénom " value="" required>
				                                  <!-- in case of an error the message below is displayed as part of the list of message errors -->
				                                  <span ng-show='updateForm.firstname.$invalid &&!updateForm.firstname.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>
				</div>
				                                 <!-- lastname -->
				 <div class="field-wrap" ng-class="{ 'has-error' : updateForm.lastname.$invalid && !updateForm.lastname.$pristine }">
				                                  <label class="label-displayed" for="lastname"></label>
				                                  <input type="text" name="lastname" id="lastname"  ng-model ="$ctrl.customer.lastname" tabindex="1"  placeholder="nom" value="" required>
				                                  <!-- in case of an error the message below is displayed as part of the list of message errors -->
				                                  <span ng-show='updateForm.lastname.$invalid &&!updateForm.lastname.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>
				</div>
				                                 <!-- email -->
				<div class="field-wrap" ng-class="{ 'has-error' : updateForm.email.$invalid && !updateForm.email.$pristine }">
				                                  <label class="label-displayed" for="email"></label>
				                                  <input type="text" name="email" id="email"  ng-model ="$ctrl.customer.email" tabindex="1"  placeholder="email" value="" required email-validator>
				                                  <!-- in case of an error the message below is displayed as part of the list of message errors -->
				                                  <span ng-show="updateForm.email.$invalid && !updateForm.email.$error.email &&!updateForm.email.$pristine" class="text-danger">L'email est requis </span>
				                                  <span ng-show='updateForm.email.$invalid && updateForm.email.$error.email && !updateForm.email.$pristine' class='text-warning'>L'email saisi n'est pas valide</span>
					 </div>
					 <div class="container">
						 <div class="row">
						 	<div class="col-sm-offset-1 col-sm-2">
	                  			<input  type="submit"  name="update-submit" id="update-submit" tabindex="2" class="btn btn-primary" value="Enregistrer" >
	                  		</div>
	                  		<div class="col-sm-1">
	                  			<button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">Cancel</button>
	                  		</div>
	                	</div>
	               </div>
				</form>
		  </div>
	</script>
	<script type="text/ng-template" id="customerpreferences.html">
		<div class="modal-header">
			<h3 class="center modal-tile">Addresse</h3>
		</div>
		<div class="modal-body">
			<form autocomplete="off" role="location"  id="location-form"  name="locationForm"  novalidate ng-submit="$ctrl.updatePreference(locationForm,$ctrl.location)">
				<div>
                  <!-- location type (main or secondary) -->
                  <label  for="location-type">Type de l'adresse</label>
                  <select name="location-type" id="location-type" ng-model="$ctrl.location.type">
				      <option value="1">Principale</option>
				      <option value="2">Secondaire</option>
			      </select><br>
			    </div>
			    <!-- street name -->
			    <div>
				    <label  for="street-name">Numéro et nom de la rue </label>
				    <input type='text' name='street-name' id='street-name' ng-model='$ctrl.location.address'/>
			    </div>
			    <!-- town name -->
			    <div>
			    	<label  for='town-name'>Nom de la ville </label>
			    	<input type="text" name='town-name' id='town-name' ng-model='$ctrl.location.city'/>
			    </div>
			    <!-- zip code -->
			    <div>
				    <label  for='zip-code'>Code postale</label>
				    <input type='text'  name='zip-code' id='zip-code' ng-model='$ctrl.location.zipcode'/>
			    </div>
				 <div class="container">
					 <div class="row validation">
					 	<div class="col-sm-offset-1 col-sm-2">
	              			<input  type="submit"  name="update-submit" id="update-submit" tabindex="2" class="btn btn-primary" value="Enregistrer" >
	              		</div>
	              		<div class="col-sm-1">
	              			<button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">Cancel</button>
	              		</div>
	            	</div>
	           </div>
			</form>
		</div>
	</script>
	<script type="text/ng-template" id="confirmation-modal.html">
   	  		<div class="modal-header-success"  ng-show="$ctrl.isSuccess">
	             <h5 class="center success modal-title">Confirmation </h5>
	        </div>
	        <div class="modal-header-error"  ng-hide="$ctrl.isSuccess">
	             <h5 class="center error modal-title">Erreur </h5>
	        </div>
	        <div class="modal-body" id="modal-body" ng-show="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> {{$ctrl.message}}</span>
	        </div>
	        <div class="modal-body" id="modal-body" ng-hide="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> {{$ctrl.message}} !</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-show="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-success" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-hide="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-error" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
	</script>
</section>
