@import "../../styles/sass/main";

@import "../../styles/sass/main";
$font-weight:300;
$margin-bottom:3%;
.customeraccount {
	margin-top:5%;
}
.customeraccount textarea{
	margin-bottom:3%;
}

.customeraccount .card{
	height:200px;
}
.customeraccount .card-name{
	position: relative;
    top: 50%;
}

.customeraccount .card-details{
	display:none;
}
.customeraccount .badge{
  background-color: $white;
  margin:0.8%;
  color:$button-color;
}



.edit-button{
    float: right;
    clear: none;
}

.customeraccount .section-contains{
	margin-bottom:5%;
	font-size:1.0em;
}

.customeraccount .right{
	margin-right:0;
}




.customeraccount #customer-profile{
	text-align:left;
	margin-left:3%;
}


.customeraccount .modal-footer{
	text-align:center;
}

/** Edit Hairdresser account */

.customeraccount select{
    	text-align: center;
	    padding: 3%;
	    width: 60%;
	    height: 10%;
	    margin:0 auto;
		padding:3%;
		font-family:Helvetica;
		font-weight:$font-weight;
	option{
		margin:2%;
	}
}
form {
	margin-bottom:$margin-bottom;
}
.customeraccount #zip-code{
	width:20%;
	margin:0 auto;
}

.customeraccount .validation{
	margin-top:5%;
}

