@import "../../styles/sass/main";
$font-weight:300;
$margin-bottom:3%;
.hairdresser-account {
	margin-top:5%;
}
.hairdresser-account textarea{
	margin-bottom:3%;
}

.hairdresser-account .card{
	height:200px;
}
.hairdresser-account .card-name{
	position: relative;
    top: 50%;
}

.hairdresser-account .card-details{
	display:none;
}
.hairdresser-account .badge{
  background-color: $white;
  margin:0.8%;
  color:$button-color;
}



.edit-button{
    float: right;
    clear: none;
}

.hairdresser-account .section-contains{
	margin-bottom:5%;
	font-size:1.0em;
}

.hairdresser-account .right{
	margin-right:0;
}




.hairdresser-account #hairdresser-profile{
	text-align:left;
	margin-left:3%;
}


.hairdresser-account .modal-footer{
	text-align:center;
}

/** Edit Hairdresser account */

select{
    text-align: center;
	    padding: 3%;
	    width: 60%;
	    height: 10%;
	    margin-left: 20%;
	    margin-bottom: 3%;
		padding:3%;
		font-family:Helvetica;
		font-weight:$font-weight;
	option{
		margin:2%;
	}
}
form {
	margin-bottom:$margin-bottom;
}