@import "components/button";
@import "components/hairdresserLogbook"; 
@import "components/leftmenu";
@import "helpers/mixin";

$distance-from-previous-section:10%;
$white:#fff;
$button-color:#790303;
$black:#000;
$menu-background:#901a18;
$card-heigiht:200px;
$default-margin-left:3%;
$default-margin-right:20%;
$section-height:15em;
$default-margin-top:2em;
$default-font-weight:300;
/** Margin with the previous section */
.from-previous-section{
	margin-top:$distance-from-previous-section;
}

/* Center element on each boostrap row */
.row {
	text-align:center;
}

.section-title{
	text-align:center;
	font-weight:600;
	font-size:1.3em;
	font-family:Helvetica,Arial;
	margin-bottom:4%;
	color:#333;
	transform:scale(0.9);
	&:hover,&:focus{
		cursor:pointer;
		transform:scale(1);
	}
}

hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.rowHr{
    float: right;
    width: 100%;
    height: 1px;
    border: 1px;
    background-color: #EEE;
}

.row-top{
	margin-top:1%;
}
.row-bottom{
	margin-bottom:1%;
}
.profile-card{
	height:$card-heigiht;
}

.center{
	text-align:center;
}

.section{
    margin-bottom: 18px;
    padding: 10px;
    background-color: white;
    -moz-box-shadow: 0px 4px 4px -4px #888;
    -webkit-box-shadow: 0px 4px 4px -4px #888;
    box-shadow: 0px 4px 4px -4px #888;
}

.section-contains {
	font-family:Helvetica;
	font-size: 1.2em;
	display:inline-block;
}

.section-t{
    float: left;
    text-transform: uppercase;
    font-size: 1.3em;

}
.section-top {
	margin-top:2%;
	margin-bottom:1%;
}
.left {
	margin-left:$default-margin-left;
}
.right{
	margin-right:$default-margin-right;
}

.section-height{
	height:$section-height;
}

.section-number{
	margin-top:$default-margin-top;
	font-size:$default-margin-top;
	color:gray;
	font-weight:$default-font-weight;
}


/** Modal windows default styles */
/* Modal header */
.modal-header {
	background:$button-color;
	font-weight:$default-font-weight;
	text-align: center;
	text-transform:uppercase;
	color:$white;
}
/* Modal body */
.modal-body{
	text-align:center;
	font-weight:$default-font-weight;
}
.modal-footer{
	text-align:center;
}

.datepicker{
	display:inline-block;
	 min-height:290px;
}