<div class="blog">
	<section>
		<div class="container">
			<div class="row">
				<h1>Blog</h1>
				<form ng-submit="vm.createPost(vm.post)">
					<input class="form-control" ng-model="vm.post.title" placeholder="title"/>
					<textarea class="form-control" ng-model="vm.post.body" placeholder="body"></textarea>
					<input type="submit" class="btn btn-primary btn-block"/>
				</form>
			</div>
			<div class="row" ng-repeat="post in vm.postList">
				<h3>{{::post.title}}</h3>
				<p>{{::post.body}}</p>
			</div>
		</div>
	 
	</section>
	<footer id="legal-notice">
	    <div class="container">
	      <div class="row row-top-5em">
	        <div class="col-xs-12">
	         <!-- <h3 class="section-title"> Mention légales</h3>-->
	        </div>
	      </div> <!-- .row -->
	      <div class="row row-top-5em">
	        <div class=" col-sm-offset-1 col-sm-2">
	          <div class="legal-mention-contains">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </div>
	        </div>
	        <div class=" col-sm-offset-1 col-sm-2">
	          <div class="legal-mention-contains">
	              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </div>
	        </div>
	        <div class="col-sm-offset-1 col-sm-2">
	            <div class="legal-mention-contains">
	              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	            </div>
	        </div>
	        <div class="col-sm-offset-1 col-sm-2">
	          <div class="legal-mention-contains">
	              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </div>
	        </div>
	      </div>
	    </div> <!-- .container-fluid .hidden-xs -->
	  </footer>
</div>