<section class="customer section-padding">
	<div class="container">
		<div class="row">
			<div class=" col-sm-3">		
				<uploader url={{vm.customer.photoUrl}} destination="profil"></uploader>
				<div class="left-menu">
					<customer-menu></customer-menu>
				</div>		<!-- 	end .left-menu -->	
			</div><!-- col-sm-offset-1 col-sm-3 col-lg-3 -->
			<div class=" col-sm-9  customer-page-content">
				<div class="section">
					<div class=" row section-top">
						<span class="section-t col-sm-3">
								<h4>Profile</h4>
						</span><!-- .section-title -->
						<span class="col-sm-3 edit-button">
							<a class="btn-default-lbc btn-lbc" ng-click="vm.launchUpdateProfileModal()">Modifier</a>
						</span><!-- .edit-button -->
					</div> <!-- row section-top -->
					<hr/>
					<div class="row" id="customer-profile">
							<div class=" row-top col-sm-3 left">
								<span class="section-contains"> Prénom : {{::vm.customer.name.first}}</span><br/>
								<span class="section-contains"> Nom : {{::vm.customer.name.last}}</span><br/>
							</div><!-- .left -->
							<div class=" row-top col-sm-6 right">
								<span class="section-contains"> Email :  {{::vm.user.email}} </span><br/>
								<span class="section-contains"> Nom d'utilisateur: {{::vm.user.username}}</span><br/>
							</div>
					</div> <!-- row haidresser-profile -->
				</div> <!--.section -->	
				<div class="section">
					<div class=" row section-top">
						<span class="section-t col-sm-3">
								<h4>Préferences</h4>
						</span><!-- .section-title -->
					</div> <!-- row section-top -->
					<hr/>
					<div class="row section-top">
						<uib-accordion close-others="oneAtATime">		
							<div uib-accordion-group class="panel-default" heading="Ajouter une adresse" template-url="gr-template.html">
									<div class="col-sm-9">
										<form role="form" class="form-horizontal">
												<fieldset>
													<div class="row form-group">
														<label class="col-sm-4 control-label">Adresse</label>
														<div class="col-sm-8">
														<input id="user_input_autocomplete_address" ng-model="location" name="user_input_autocomplete_address"
																class="form-control" placeholder="Entrez votre adresse ...">
														</div>
													</div>
												</fieldset>
										</form>
									</div>
									<div class="col-sm-3">
										<button type="submit" ng-click="vm.updateAddress(location)" classs="btn btn-lbc">Enregister</button>
									</div>
							</div>
						</uib-accordion>
					</div> <!-- row section-top -->
					<hr/>
					<div class="row" id="preference">
						<div class="col-sm-5 row-top left" ng-repeat ="location in vm.customer.locations track by $index">
							<span class="section-contains">Adresse {{$index+1 }}: {{::location.address }} {{::location.zipcode}} {{::location.city}}</span> <button class="btn btn-edit btn-primary" type="button" ng-click="vm.updateLocation(location)">Modifier</button>
							<button class="btn btn-edit btn-primary" type="button" ng-click="vm.deleteLocation(location._id)">Supprimer</button>			
						</div>						
					</div> <!-- preferences -->
				</div><!-- .section -->
				<div class="section">
					<div class=" row section-top">
						<span class="section-t col-sm-3">
								<h4>Sécurité</h4>
						</span><!-- .section-title -->
						<span class="col-sm-4 edit-button">
							<a class="btn-default-lbc btn-lbc">Mot de passe</a>
						</span><!-- .edit-button -->
					</div> <!-- row section-top -->
					<hr>
					<div class="row row-top">
						<span class="section-contains left">Votre mot de passe expire dans: {{vm.customer.passwordExpirationDate}}</span>
					</div><!-- .row .row-top -->
				</div> <!-- .section -->
				<!--<div class="section">
					<div class=" row section-top">
						<span class="section-t col-sm-3">
								<h4>Supprimer mon compte</h4>
						</span>
						<span class="col-sm-3 edit-button">
							<a class="btn-default-lbc btn-lbc" ng-click="vm.accountDeletionConfirmation()">Supprimer</a>
						</span><
					</div> 
					<hr>
					<div class="row row-top">
						<span class="section-contains left"></span>
					</div>
				</div> --><!-- .section -->				
			</div><!-- end .customer-page-content -->
		</div> <!-- end top row -->
	</div> <!-- end top container --> 
	<script type="text/ng-template" id="customerprofile.html">
		 <div class="modal-header">
             <h3 class="center modal-title">Profile</h3>
        </div>
        <div class="modal-body">
			<form autocomplete="off" role="updapte"  id="update-form"  name="updateForm"  novalidate ng-submit="$ctrl.updateProfile(updateForm)">
				                              <!-- username -->
				<div class="field-wrap" ng-class="{ 'has-error' : updateForm.username.$invalid && !updateForm.username.$pristine }">
				                                  <label class="label-displayed" for="username"></label>
				                                  <input type="text" name="username" id="username"  ng-model ="$ctrl.user.username"  customer={{$ctrl.user.username}} tabindex="1"  placeholder="nom d'utilisateur" value=""  username-validator>
				                                  <!-- in case of an error the message below is displayed as part of the list of message errors -->
				                                  <span ng-if='updateForm.username.$pending.uniqueusername' class='text-info'>Vérification de la disponibilité ...</span>
				                                  <!--<span ng-show='updateForm.username.$invalid&& !updateForm.username.$error.uniqueusername &&!updateForm.username.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>-->
				                                  <span ng-show="updateForm.username.$invalid &&updateForm.username.$error.uniqueusername&&!updateForm.username.$pristine" class="text-warning">Le nom d'utilisateur choisi n'est plus disponible.</span>
				</div>
				                                 <!-- firstname -->
				<div class="field-wrap" ng-class="{ 'has-error' : updateForm.firstname.$invalid && !updateForm.firstname.$pristine }">
				                                  <label class="label-displayed" for="firstname"></label>
				                                  <input type="text" name="firstname" id="firstname"  ng-model ="$ctrl.customer.name.first" tabindex="1"  placeholder="prénom " value="" >
				                                  <!-- in case of an error the message below is displayed as part of the list of message errors -->
				                                  <!--<span ng-show='updateForm.firstname.$invalid &&!updateForm.firstname.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>-->
				</div>
				                                 <!-- lastname -->
				 <div class="field-wrap" ng-class="{ 'has-error' : updateForm.lastname.$invalid && !updateForm.lastname.$pristine }">
				                                  <label class="label-displayed" for="lastname"></label>
				                                  <input type="text" name="lastname" id="lastname"  ng-model ="$ctrl.customer.name.last" tabindex="1"  placeholder="nom" value="" >
				                                  <!-- in case of an error the message below is displayed as part of the list of message errors -->
				                                  <!--<span ng-show='updateForm.lastname.$invalid &&!updateForm.lastname.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>-->
				</div>
				                                 <!-- email -->
				<div class="field-wrap" ng-class="{ 'has-error' : updateForm.email.$invalid && !updateForm.email.$pristine }">
				                                  <label class="label-displayed" for="email"></label>
				                                  <input type="text" name="email" id="email"  ng-model ="$ctrl.user.email" tabindex="1"  placeholder="email" value=""  email-validator>
				                                  <!-- in case of an error the message below is displayed as part of the list of message errors -->
				                                  <!--<span ng-show="updateForm.email.$invalid && !updateForm.email.$error.email &&!updateForm.email.$pristine" class="text-danger">L'email est requis </span>-->
				                                  <span ng-show='updateForm.email.$invalid && updateForm.email.$error.email && !updateForm.email.$pristine' class='text-warning'>L'email saisi n'est pas valide</span>
				</div>
				<div class="container">
					<div class="row">
					<div class=" col-sm-2">
						<input  type="submit"  name="update-submit" id="update-submit" tabindex="2" class="btn btn-lbc" value="Enregistrer" >
					</div>
					<div class=" col-sm-offset-1 col-sm-1">
						<button class="btn btn-lbc" type="button" ng-click="$ctrl.cancel()">Annuler</button>
					</div>
				</div>
				</div>
				</form>
		  </div>
	</script>
	<script type="text/ng-template" id="customerpreferences.html">
		<div class="modal-header">
			<h3 class="center modal-tile">Addresse</h3>
		</div>
		<div class="modal-body">
			<form role="form" class="form-horizontal">
				<fieldset>
				<div class="form-group">
					<label class="col-sm-4 control-label">Address</label>
					<div class="col-sm-8">
					<input id="user_input_autocomplete_address" name="user_input_autocomplete_address"
							class="form-control" placeholder="Start typing your address...">
					</div>
				</div>
				</fieldset>

				<fieldset class="disabled">
				<div class="form-group">
					<label class="col-sm-4 control-label"><code>street_number</code></label>
					<div class="col-sm-8">
					<input id="street_number" name="street_number" disabled="true" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label"><code>route</code></label>
					<div class="col-sm-8">
					<input id="route" name="route" disabled="true" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label"><code>locality</code></label>
					<div class="col-sm-8">
					<input id="locality" name="locality" disabled="true" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label"><code>administrative_area_level_1</code></label>
					<div class="col-sm-8">
					<input id="administrative_area_level_1" name="administrative_area_level_1" disabled="true" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label"><code>postal_code</code></label>
					<div class="col-sm-8">
					<input id="postal_code" name="postal_code" disabled="true" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label"><code>country</code></label>
					<div class="col-sm-8">
					<input id="country" name="country" disabled="true" class="form-control">
					</div>
				</div>
				</fieldset>
			</form>
		</div>
	</script>
	<script type="text/ng-template" id="confirmation-modal.html">
   	  		<div class="modal-header-success"  ng-show="$ctrl.isSuccess">
	             <h5 class="center success modal-title">Confirmation </h5>
	        </div>
	        <div class="modal-header-error"  ng-hide="$ctrl.isSuccess">
	             <h5 class="center error modal-title">Erreur </h5>
	        </div>
	        <div class="modal-body" id="modal-body" ng-show="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> {{$ctrl.message}}</span>
	        </div>
	        <div class="modal-body" id="modal-body" ng-hide="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> {{$ctrl.message}} !</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-show="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-success" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-hide="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-error" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
	</script>
	
	<script type="text/ng-template" id="account-deletion-confirmation.html">
			<div class="modal-header-warning">
				<h3 class="center modal-tile">Confirmation</h3>
			</div>
			<div class="modal-body">
				<span> {{$ctrl.message}} </span>
		    </div>
		     <div class="modal-footer" style="text-align:center;">
	            <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.ok($ctrl.apt)">OK</a>
	             <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.cancel($ctrl.apt)">Annuler</a>
	        </div>
	</script>
	<script type="text/ng-template" id="delete-location-confirmation.html">
			<div class="modal-header">
				<h3 class="center modal-tile">Confirmation</h3>
			</div>
			<div class="modal-body">
				<span> {{$ctrl.message}} </span>
		    </div>
		     <div class="modal-footer" style="text-align:center;">
	            <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.ok()">OK</a>
	             <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.cancel()">Annuler</a>
	        </div>
	</script>
	
	<script type="text/ng-template" id="unique-location.html">
			<div class="modal-header-warning">
				<h3 class="center modal-tile">Attention !</h3>
			</div>
			<div class="modal-body">
				<span> {{$ctrl.message}} </span>
		    </div>
		     <div class="modal-footer container" style="text-align:center;">
				 <div class="row">
					 <div class="col-sm-5">
						 <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.ok()">OK</a>
					 </div>
				 </div>	           
	        </div>
	</script>
	<div class="tes">
		
	</div>
	<script type="text/ng-template" id="gr-template.html">
        <div>
            <div class="panel-heading">
          <h6 class="panel-title" style="color:#333">
            <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"  is-open="status.open" uib-accordion-transclude="heading">
              <span uib-accordion-header ng-class="{'text-muted': isDisabled}" >                 
                {{heading}}
              </span>
            </a>
          </h6>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" style="text-align: right" ng-transclude></div>

        </div>
        </div>
   </script>
	
	
</section>
