<section class="hairdresser-account hairdresser section-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="row">
					<uploader url="{{vm.hairdresser.profile_picture}}"></uploader>
				</div> <!-- row id card -->
				<menu></menu>
			</div> <!-- .col-sm-4 left-element -->
			<div class="col-sm-9">
				<div class="section">
					<div class=" row section-top">
						<span class="section-t col-sm-3">
								<h4>Profile</h4>
						</span><!-- .section-title -->
						<span class="col-sm-3 edit-button">
							<a class="btn-default-lbc btn-lbc" ng-click="vm.launchUpdateProfileModal()">Modifier</a>
						</span><!-- .edit-button -->
					</div> <!-- row section-top -->
					<hr/>
					<div class="row" id="hairdresser-profile">
							<div class=" row-top col-sm-3 left">
								<span class="section-contains"> Prénom : {{vm.hairdresser.name.first}}</span><br/>
								<span class="section-contains"> Nom : {{vm.hairdresser.name.last}}</span><br/>
							</div><!-- .left -->
							<div class=" row-top col-sm-6 right">
								<span class="section-contains"> Email :  {{vm.user.email}} </span><br/>
								<span class="section-contains"> Nom d'utilisateur: {{vm.user.username}}</span><br/>
							</div>
					</div> <!-- row haidresser-profile -->
				</div> <!--.section -->	
				<div class="section">
					<div class=" row section-top">
						<span class="section-t col-sm-3">
								<h4>Préferences</h4>
						</span><!-- .section-title -->
						<span class="col-sm-3 edit-button">
							<a class="btn-default-lbc btn-lbc" ng-click ="vm.updateHairdresserInformations('/hairdresser/settings/edit/')">Modifier</a>
						</span>
					</div> <!-- row section-top -->
					<hr/>
					<div class="row" id="preference">
						<div class="col-sm-8 row-top-2 left">
							<div class="row">
								<span class="col-sm-4 section-contains">Type de client </span>
							</div>
							<div class="row">
								<div class="col-sm-offset-4">
									<div class="row">										
										<p class="performance-details">  {{vm.hairdresser.customer_type | customerTypeFilter}} </p> 										
									</div>
								</div>	
							</div>							
						</div>	
					</div>
					<hr/>
					<div class="row">
						<div class="col-sm-8 row-top-2 left">
							<div class="row">
								<span class="col-sm-4 section-contains">Categorie(s) de coiffure </span>
							</div>
							<div class="row">
								<div class="col-sm-offset-4">
									<div class="row">
										<div class="col-sm-6"ng-repeat="category in vm.hairdresser.categories track by $index">
											<p class="performance-details"> {{category.name |lowercase}} </p> 
										</div>
									</div>
								</div>	
							</div>							
						</div>						
					</div>
					<hr/>
					<div class="row">
						<div class="col-sm-8 row-top-2 left">
							<div class="row">	
								<span class="col-sm-4 section-contains">Type(s) de coiffure(s) </span>
							</div>
							<div class="row">
								<div class="col-sm-offset-4">
									<div class="row">
										<div class="col-sm-6" ng-repeat="performance in vm.hairdresser.listOfPerformance track by $index">
											<p class="performance-details"> {{performance.name | lowercase}} </p> 
										</div>
									</div>
								</div>								
							</div>							
						</div>						
					</div>
				</div><!-- .section -->
				<div class="section">
					<div class=" row section-top">
						<span class="section-t col-sm-3">
								<h4>Zone(s) couverte(s)</h4>
						</span><!-- .section-title -->
						<span class="col-sm-3 edit-button">
							<a class="btn-default-lbc btn-lbc" ng-click="vm.updateHairdresserCoverArea(vm.hairdresser.activityArea)">Modifier</a>
						</span><!-- .edit-button -->
					</div>				
						<hr/>
						<br>
					<div class="row">	
						<div class="col-sm-offset-4">							
						</div>			
						<div class="col-sm-8">
							<div class="row">
								<div class="col-sm-6"ng-repeat="area in vm.hairdresser.activityArea track by $index">
									<span class="performance-details">{{::area.formatted_address }}</span> <button class="btn btn-edit btn-primary" type="button" ng-click="vm.deleteArea(area._id)">Supprimer</button>								
								</div>
							</div>
						</div>					
					</div>									
				</div> <!-- .section -->
				<div class="section">
					<div class=" row section-top">
						<span class="section-t col-sm-3">
								<h4>Description</h4>
						</span><!-- .section-title -->
						<span class="col-sm-3 edit-button">
							<a class="btn-default-lbc btn-lbc" ng-click="vm.updateHairdresserDescription()">Modifier</a>
						</span><!-- .edit-button -->
					</div> <!-- row section-top -->
					<hr>
					<div class="row row-top">
						<span class="performance-details left"><span class="quote">&ldquo;</span>{{vm.hairdresser.description}}<span class="quote">&rdquo;</span></span>
					</div><!-- .row .row-top -->
				</div> <!-- .section -->
				<div class="section">
					<div class=" row section-top">
						<span class="section-t col-sm-3">
								<h4>Sécurité</h4>
						</span><!-- .section-title -->
						<span class="col-sm-4 edit-button">
							<a class="btn-default-lbc btn-lbc">Mot de passe</a>
						</span><!-- .edit-button -->
					</div> <!-- row section-top -->
					<hr>
					<div class="row row-top">
						<span class="section-contains left">Votre mot de passe expire dans: {{vm.hairdresser.passwordExpirationDate}}</span>
					</div><!-- .row .row-top -->
				</div> <!-- .section -->				
					<div class="row row-top">
						<span class="section-contains left"></span>
					</div><!-- .row .row-top -->
				</div> <!-- .section -->
			</div> <!-- .col-sm-8 right element -->
		</div> <!-- top row -->
	</div> <!-- .top container -->
	<script type="text/ng-template" id="delete-account.html">
			<div class="modal-header-warning">
				<h3 class="center modal-tile">Confirmation</h3>
			</div>
			<div class="modal-body">
				<span> {{$ctrl.message}} </span>
		    </div>
		     <div class="modal-footer" style="text-align:center;">
	            <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.ok($ctrl.apt)">OK</a>
	             <a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.cancel($ctrl.apt)">Annuler</a>
	        </div>
    </script>
	<script type="text/ng-template" id="hairdresserProfile.html">
		 <div class="modal-header">
             <h3 class="center modal-title">Profile</h3>
        </div>
        <div class="modal-body">
			<form autocomplete="off" role="updapte"  id="update-form"  name="updateForm"  novalidate ng-submit="$ctrl.updateProfile()">
				                              <!-- username -->
				<div class="field-wrap" ng-class="{ 'has-error' : updateForm.username.$invalid && !updateForm.username.$pristine }">
				                                  <label class="label-displayed" for="username"></label>
				                                  <input type="text" name="username" id="username"  ng-model ="$ctrl.user.username"  hairdresser={{$ctrl.user.username}} tabindex="1"  placeholder="nom d'utilisateur" value=""  username-validator>
				                                  <!-- in case of an error the message below is displayed as part of the list of message errors -->
				                                  <span ng-if='updateForm.username.$pending.uniqueusername' class='text-info'>Vérification de la disponibilité ...</span>
				                                  <!--<span ng-show='updateForm.username.$invalid&& !updateForm.username.$error.uniqueusername &&!updateForm.username.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>-->
				                                  <span ng-show="updateForm.username.$invalid &&updateForm.username.$error.uniqueusername&&!updateForm.username.$pristine" class="text-warning">Le nom d'utilisateur choisi n'est plus disponible.</span>
				</div>
				                                 <!-- firstname -->
				<div class="field-wrap" ng-class="{ 'has-error' : updateForm.firstname.$invalid && !updateForm.firstname.$pristine }">
				                                  <label class="label-displayed" for="firstname"></label>
				                                  <input type="text" name="firstname" id="firstname"  ng-model ="$ctrl.hairdresser.name.first" tabindex="1"  placeholder="prénom " value="" >
				                                  <!-- in case of an error the message below is displayed as part of the list of message errors -->
				                                  <!--<span ng-show='updateForm.firstname.$invalid &&!updateForm.firstname.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>-->
				</div>
				                                 <!-- lastname -->
				 <div class="field-wrap" ng-class="{ 'has-error' : updateForm.lastname.$invalid && !updateForm.lastname.$pristine }">
				                                  <label class="label-displayed" for="lastname"></label>
				                                  <input type="text" name="lastname" id="lastname"  ng-model ="$ctrl.hairdresser.name.last" tabindex="1"  placeholder="nom" value="" >
				                                  <!-- in case of an error the message below is displayed as part of the list of message errors -->
				                                  <!--<span ng-show='updateForm.lastname.$invalid &&!updateForm.lastname.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>-->
				</div>
				                                 <!-- email -->
				<div class="field-wrap" ng-class="{ 'has-error' : updateForm.email.$invalid && !updateForm.email.$pristine }">
				                                  <label class="label-displayed" for="email"></label>
				                                  <input type="text" name="email" id="email"  ng-model ="$ctrl.user.email" tabindex="1"  placeholder="email" value=""  email-validator>
				                                  <!-- in case of an error the message below is displayed as part of the list of message errors -->
				                                  <!--<span ng-show="updateForm.email.$invalid && !updateForm.email.$error.email &&!updateForm.email.$pristine" class="text-danger">L'email est requis </span>-->
				                                  <span ng-show='updateForm.email.$invalid && updateForm.email.$error.email && !updateForm.email.$pristine' class='text-warning'>L'email saisi n'est pas valide</span>
				 </div>
				 <div class="container">
					 <div class="row">
					 	<div class=" col-sm-2">
                  			<input  type="submit"  name="update-submit" id="update-submit" tabindex="2" class="btn btn-lbc" value="Enregistrer" >
                  		</div>
                  		<div class="col-sm-offset-1 col-sm-1">
                  			<button class="btn btn-lbc" type="button" ng-click="$ctrl.cancel()">Annuler</button>
                  		</div>
                	</div>
               </div>
			</form>
	  </div>
</script>
<script type="text/ng-template" id="hairdresserPreference.html">
	<div class="modal-header">
		<h3 class="center modal-tile">Préferences </h3>
	</div>
	<div class="modal-body">
		<form autocomplete="off" role="updapte"  id="update-form"  name="updateForm"  novalidate ng-submit="$ctrl.updatePreference($ctrl.multipleSelect1,$ctrl.multipleSelect2,$ctrl.multipleSelect3)">			
			
					<label for="multipleSelect1" uib-tooltip="ctrl (PC) ou cmd (Mac) + Click pour sélectionner plusieur choix"> Type de client:  </label><br>				
				    <select name="multipleSelect1" id="multipleSelect1" ng-model="$ctrl.multipleSelect1" multiple>
				      <option value="1">Femme</option>
				      <option value="2">Homme</option>
				      <option value="0">Mixte</option>
				    </select><br>			      
				    <label for="multipleSelect2" uib-tooltip="ctrl (PC) ou cmd (Mac) + Click pour sélectionner plusieur choix"> Categorie de coiffure:  </label><br>				
				    <select name="multipleSelect2" id="multipleSelect2" ng-model="$ctrl.multipleSelect2" multiple>
				      <option value="CHEVEUX AFRO">Cheveux Afro</option>
				      <option value="CHEVEUX LISSES">Cheveux Lisses</option>
				      <option value="CHEVEUX BOUCLÉS">Cheveux Bouclés</option>
				    </select><br>
					<!--<input type="checkbox" ng-model="vm.categpries.values1" ng-true-value="'Cheveux Afro'" ng-value-false="''"/><label>Cheveux Afro</label><br/>
					<input type="checkbox" ng-model="vm.categpries.values2" ng-true-value="'Cheveux Lisses'" ng-value-false="''"/><label>Cheveux Lisses</label><br/>
					<input type="checkbox" ng-model="vm.categpries.values3" ng-true-value="'Cheveux Bouclés'" ng-value-false="''"/><label>Cheveux Bouclés</label>
					<br/>-->
					<label for="multipleSelect3" uib-tooltip="ctrl (PC) ou cmd (Mac) + Click pour sélectionner plusieur choix"> Type(s) coiffure  </label><br>				
				    <select name="multipleSelect3" id="multipleSelect3" ng-model="$ctrl.multipleSelect3" multiple>
				      <option ng-repeat = "haircut in $ctrl.listOfAvailableHaircut track by $index" value="{{$index}}">{{::haircut}}</option>
				    </select><br>
	    			   
				    
		<div class="container">	
			<div class="row row-top ">
			 	<div class=" col-sm-2">
          			<input  type="submit"  name="update-submit" id="update-submit" tabindex="2" class="btn btn-lbc" value="Enregistrer" >
          		</div>
          		<div class="col-sm-offset-1 col-sm-1">
          			<button class="btn btn-lbc " type="button" ng-click="$ctrl.cancel()">Cancel</button>
          		</div>
        	</div>
		</div>
		</form>  
	</div>
</script>
<script type="text/ng-template" id="hairdresserDescription.html">
	<div class="modal-header">
		<h3 class="center modal-tile">Description </h3>
	</div>
	<div class="modal-body">
		<form autocomplete="off" role="updapte"  id="update-form"  name="updateForm"  novalidate ng-submit="$ctrl.updateDescription(hairdresserDescription)">			
					<label for="description" uib-tooltip="Entre 50 et 250 caractères "> Entrez votre description:  </label><br>	
					<textarea  name="description" ng-model="hairdresserDescription" ng-minlength="50" ng-maxlength="250"></textarea>
		<div class="container">	
			<div class="row row-top">
			 	<div class="col-sm-2">
          			<input  type="submit"  name="update-submit" id="update-submit" tabindex="2" class="btn btn-lbc" value="Enregistrer" >
          		</div>
          		<div class="col-sm-offset-1 col-sm-1">
          			<button class="btn btn-lbc" type="button" ng-click="$ctrl.cancel()">Annuler</button>
          		</div>
        	</div>
		</div>
		</form>  
	</div>
</script>
<script type="text/ng-template" id="hairdresserPassword.html">
</script>
<script type="text/ng-template" id="confirmation-modal.html">
   	  		<div class="modal-header-success"  ng-show="$ctrl.isSuccess">
	             <h5 class="center success modal-title">Confirmation </h5>
	        </div>
	        <div class="modal-header-error"  ng-hide="$ctrl.isSuccess">
	             <h5 class="center error modal-title">Erreur </h5>
	        </div>
	        <div class="modal-body" id="modal-body" ng-show="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> {{$ctrl.message}}</span>
	        </div>
	        <div class="modal-body" id="modal-body" ng-hide="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> {{$ctrl.message}} !</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-show="$ctrl.isSuccess">
	            <button class="btn-lbc btn-success" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-hide="$ctrl.isSuccess">
	            <button class="btn-lbc btn-error" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
	</script>	
	<script type="text/ng-template" id="hairdresserCutomerType.html">
		<div class="modal-header">
			<h3 class="center modal-tile"> Type de client </h3>
		</div>
		<div class="modal-body">
			<div class="container">				
				<form autocomplete="off" role="customer"  id="customer-form"  name="customerTypeForm"  novalidate ng-submit="$ctrl.updateCustomerType(selection)">			
				<div class="row">
						<label> Femme:
							<input type="checkbox" ng-model="selection.men">
						</label>
				</div>
				<div class="row">
					<label>Homme:
						<input type="checkbox" ng-model="selection.women"/>
					</label>
				</div>
				<div class="row">
					<label>Mixte:
						<input type="checkbox" ng-model="selection.both"/>
					</label>
				</div>				
			</form> 
		</div>			 			
		<div class="container">	
			<div class="row row-top ">
				<div class=" col-sm-2">
					<button  type="submit"  name="update-submit" id="customer-submit" tabindex="2" class="btn btn-lbc">
						<span class=" glyphicon glyphicon-saved" aria-hidden="true">Enregister</span>
					</button>					 
				</div>
				<div class="col-sm-offset-1 col-sm-1">
					<button class="btn btn-lbc " type="button" ng-click="$ctrl.cancel()">Annuler</button>
				</div>
			</div>
		</div>			
	</div>
</script>
<script type="text/ng-template" id="gr-template.html">
        <div>
            <div class="panel-heading">
          <h4 class="panel-title" style="color:#333">
            <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"  is-open="status.open" uib-accordion-transclude="heading">
              <span uib-accordion-header ng-class="{'text-muted': isDisabled}" >
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                {{heading}}
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" style="text-align: right" ng-transclude></div>

        </div>
        </div>
   </script>
</section><!-- hairdresser -- >