<section class="hairdresser-picture hairdresser catalog section-padding container">
    <div class="row">
        <div class="page-header">
            <h1><a ui-sref="hairdresserpicture">Retour</a> / {{vm.category.name}}</h1>
        </div>
    </div>
    <div class="row">
        <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-default" heading="Nouvelle photo" template-url="gr-template.html">
                <div class="row">   
                    <div id="new-entry">                        
                        <div class="browse-or-drop"><fieldset>                   
                            <legend>Parcourir ou glisser et déposer </legend>
                            <uploader url={{vm.entryUrl}} destination="galery"></uploader>                 
                        </fieldset></div>
                         <span class="alternative-choice">Ou</span>
                        <form class="form" name="contentForm" ng-submit="vm.update(url)"><fieldset>
                            <legend>Entrez le lien de la photo</legend>
                            <div uib-alert ng-repeat="alert in detailAlerts" type="{{alert.type}}" close="closeDetailAlert($index)">{{alert.msg}}</div>               
                            <div class="form-group" ng-class="{'has-error': hasError(contentForm.name)}">
                                <label class="control-label" for="url">Lien:</label>
                                <input type="text" name="url" placeholder="http://" id="url" class="form-control" ng-model="url" required>
                                <span class="danger" ng-show="contentForm.url.$invalid && !contentForm.url.$pristine">Ce champ est requis</span>
                            </div>                
                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" ng-disabled="contentForm.url.$invalid" >Enregistrer</button>
                            </div>
                        </fieldset></form>              
                    </div>                
                </div>
            </div>
        </uib-accordion>
    </div>    
    <div class="row"> 
         <catalog-details data-contents="vm.galeryEntries" data-name="{{vm.category.name}}"></catalog-details>
    </div>
    <!-- deletion confirmation modal -->
    <script type="text/ng-template" id="confirmation.html">
        <div class="modal-header">
                     <h5 class="center modal-title">Confirmation !</h5>
        </div>
        <div class="modal-body">
            <p class="deletion-confirmation">Souhaitez-vous supprimer cette image ? </p>
       </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Yes</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">No</button>
        </div>
    </script> 
    <script type="text/ng-template" id="gr-template.html">
        <div>
            <div class="panel-heading">
          <h4 class="panel-title" style="color:#333">
            <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"  is-open="status.open" uib-accordion-transclude="heading">
              <span uib-accordion-header ng-class="{'text-muted': isDisabled}" >
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                {{heading}}
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" style="text-align: right" ng-transclude></div>

        </div>
        </div>
   </script>
</section>



