<section class="hairdresser-picture section-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="row">
					<hairdresser-profile-card url="{{vm.url}}" name ="{{vm.hairdresser.username}}" type="{{vm.hairdresser.customer_type }}"></hairdresser-profile-card>
				</div> <!-- row id card -->
				<hairdresser-menu></hairdresser-menu>
			</div> <!-- .col-sm-4 left-element -->			
		</div> <!-- top row -->
	</div> <!-- .top container -->
</section><!-- hairdresser -- >