<section class="hairdresser-account hairdresser section-padding">
	<div class="container">
        <div class="row">
            <form name="description" id="description" ng-submit="vm.updateHairdresserDescription(vm.hairdresserCurrentDescription)">
                <label for="hairdresser-description">Description</label>
                <textarea ng-model="vm.hairdresserCurrentDescription" name="haidresser-description" rows="9" cols="60">
                </textarea>
                <button type="submit" class="btn-default-lbc btn-lbc" name="submit" > Enregistrer</button>
                <button name="cancel"  class="btn-default-lbc btn-lbc" type="button" ng-click="vm.goBackToHairdresserAccount()">Annuler</button>
            </form>
        </div>
	</div>
</section><!-- hairdresser -- >