<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url({{url}}); with:100%;height:auto;">
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-xs-12" >
  			<h3>Gagnez de l'argent grâce à votre talent</h3>
  			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!--   			<a ui-sref="login" class="btn-lbc">Commencer à coiffer</a> -->
          <a class=""><login></login></a>
  		</div>
  	</div>  <!-- .row --> 
  	<div class="row next-section ">
  		<div class="col-xs-12">
  			<h3> Comment ça marche </h3>
  		</div>
  	</div><!-- row -->
  	<div class="row">  		
  		<div class="col-xs-12" >
  			<h3><span class="badge">1</span>Créer un compte</h3>
  			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. .</p>  			
  		</div>
  		<div class=" col-xs-12" >
  			<h3> <span class="badge">2</span>Remplir son profil</h3>
  			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. </p>  			
  		</div>
  		<div class="col-xs-12" >
  			<h3><span class="badge"> 3</span>Commencer à coiffer</h3>
  			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat.</p>  			 
  		</div>
  	</div>  <!-- .row --> 
  </div><!-- .container -->
</div> 
