
<div  class="join">
	<section>
		<div class="block jumbotrongeneral">
			<div class="jumbotron jumbotron-support bg-responsive"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url(&quot;https://image.noelshack.com/fichiers/2017/06/1486588456-mother-daugther-2-crop-1.jpg&quot;);">
			    <div class="jumbotron-content">

			        <div class="container">
			            <!-- Navbar Start -->
							<nav id="navbar-support" class="navigation-dropdown">
							    <div class="row navbar-account-row text-center">
							        <button class="btn btn-block btn-navigation collapsed hidden-md hidden-lg" data-toggle="collapse" data-target="#support-menu" aria-expanded="false" aria-controls="navbar-menu">
							            <span rv-text="active">
							                Get Started
							            </span>
							            <span class="circle circle-xs circle-white pull-right">
							                <i class="rb"></i>
							            </span>
							        </button>
							        <ul class="nav nav-inline nav-lines collapse" id="support-menu">
							            <li>
							                <a title="Overview" href="/en/help/overview/">
							                    Vue d'ensemble
							                </a>
							            </li>
							            <li>
							                <a title="Get Started" href="/en/help/get-started/">
							                    Commencer
							                </a>
							            </li>
							            <li>
							                <a title="FAQ" href="/en/help/faq/">
							                    FAQ
							                </a>
							            </li>
							        </ul>
							    </div>
							</nav>
						<!-- Navbar Stop -->
					   <div class="clearfix"></div>
			        </div>
			    </div>
			</div>

		</div><!-- Jumbotron End -->
	</section>
	<footer id="legal-notice">
	    <div class="container">
	      <div class="row row-top-5em">
	        <div class="col-xs-12">
	         <!-- <h3 class="section-title"> Mention légales</h3>-->
	        </div>
	      </div> <!-- .row -->
	      <div class="row row-top-5em">
	        <div class=" col-sm-offset-1 col-sm-2">
	          <div class="legal-mention-contains">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </div>
	        </div>
	        <div class=" col-sm-offset-1 col-sm-2">
	          <div class="legal-mention-contains">
	              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </div>
	        </div>
	        <div class="col-sm-offset-1 col-sm-2">
	            <div class="legal-mention-contains">
	              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	            </div>
	        </div>
	        <div class="col-sm-offset-1 col-sm-2">
	          <div class="legal-mention-contains">
	              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </div>
	        </div>
	      </div>
	    </div> <!-- .container-fluid .hidden-xs -->
	  </footer>
 </div>