<div id="customer-id-card" class="content-widget">
                    <div class="row">
                        <div ng-show='vm.customer.photoUrl' class="col-xs-offset-4 col-xs-4">
                            <div class="image-proe">
                                <img class='img-responsive img-circle' src='{{vm.customer.photoUrl}}'/>
                            </div>
                        </div> 
                        <div ng-hide='vm.customer.photoUrl' class="col-xs-offset-4 col-xs-4">
                            <div class="avatar">                             
                            </div>
                        </div>
                    </div>                  
                    <ul>                        
                        <li><span class="customer-name">JON DOE</li>                   
                    </ul> 
</div>    