<section class="customer section-padding">
    <!-- section displayed when the user account is activated --> 
    <div class="container">
        <div class="row">
            <div class="col-sm-3">    
            <div>
             <uploader url={{vm.customer.photoUrl}}></uploader>
            </div>  <!-- end .customer-id-card -->              
            <div class="left-menu">           
                <customer-menu></customer-menu>
            </div>      <!--    end .left-menu -->  
            </div><!-- col-sm-offset-1 col-sm-3 col-lg-3 -->
            <div class=" col-sm-9 customer-page-content">
                
                    <div class="row row-top" id="last-connection-date">
                        <div class="col-sm-offset-1 section section-height-min">
                            <span class="section-contains left"> Dernière connexion : {{vm.customer.lastconnection |date}}</span>
                            <span class="section-contains right">Status :{{vm.customer.isVerified}}</span>
                        </div>
                    </div> <!-- row section-->                  
                    <div class="row row-top ">
                        <div class="col-sm-offset-1 col-sm-5 section section-height section-widget center" ng-click="vm.goToBooking()">             
                                <h5 class="section-t" uib-tooltip="nombre de réservation confirmée(s)">Prochain Rendez-vous</h5>                        
                                <hr>
                                <span class="section-contains section-number">{{vm.getPendingAppointment(vm.customer.nextAppointment)}}</span>
                        </div><!-- .section -->

                        <div class="col-sm-offset-1 col-sm-5 section section-height section-widget center" ng-click="vm.goToMessage()">             
                                <h5 class="section-t  ">Message non lu(s)</h5>                      
                                <hr>
                                <span class="section-contains section-number">{{vm.getUnreadCustomerNotification(vm.customer.notifications)}}</span>
                        </div><!-- .section -->
                  </div><!-- .row -->
                  <div class="row row-top ">
                        <div class="col-sm-offset-1 col-sm-5 section section-height center">                
                                <h5 class="section-t" uib-tooltip="nombre de jour(s) avant l'expiration du mot de passe">Expiration du mot de passe</h5>                        
                                <hr>
                                <span class="section-contains section-number"> TBD</span>
                        </div><!-- .section -->
                  </div><!-- .row -->
            </div><!-- end .customer-page-content -->
        </div> <!-- end top row -->
    </div> <!-- end top container -->  
    <!-- this section is displayed when the user account is not activated --> 
   <!-- <div class="container" ng-hide="vm.customer.accountstatus">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 " >
                <div class=" section section-height-min ">
                    <h5 class= "section-t-lower"> Compte désactivé</h5>
                </div> 
                <div class=" section section-padding-3">
                    <p class="section-content"> Votre compte est actuellement désactivé. S'il s'agit d'un compte nouvellement créé, veuillez l'activer en cliquant sur le lien que vous avez reçu lors de votre inscription, si non contacter le support.</p>
                    
                        <a class="btn-lbc btn-default"> Contacter le support </a>
                
                </div>  
            </div>
        </div>-->
    </div> <!-- end .container -->
</section>
