<section class="admin section-padding container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
            <div class="page-header">
                <h1><a ui-sref="adminblogcategories">Blog Categories</a> / {{category.name}}</h1>
            </div>
            <form class="form" name="detailForm"><fieldset>
                <legend>Details</legend>
                <div uib-alert ng-repeat="alert in detailAlerts" type="{{alert.type}}" close="closeDetailAlert($index)">{{alert.msg}}</div>               
                <div class="form-group" ng-class="{'has-error': hasError(detailForm.name)}">
                    <label class="control-label" for="name">Name:</label>
                    <input type="text" name="name" id="name" class="form-control" ng-model="category.name" required>
                    <span class="help-block" ng-show="showError(detailForm.name, 'required')">This field is required</span>
                </div>
                <div class="form-group" ng-class="{'has-error': hasError(detailForm.description)}">
                    <label class="control-label" for="description">description:</label>
                    <input type="text" name="description" id="description" class="form-control" ng-model="category.description" required>
                    <span class="help-block" ng-show="showError(detailForm.description, 'required')">This field is required</span>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" ng-disabled="!canSave(detailForm)" ng-click="update()">Update</button>
                </div>
            </fieldset></form>
            <form class="form" name="deleteForm"><fieldset>
                <legend>Danger Zone</legend>
                <alert ng-repeat="alert in deleteAlerts" type="{{alert.type}}" close="closeDeleteAlert($index)">{{alert.msg}}</alert>
                <div class="form-group">
                    <span class="help-block">
                        <span class="label label-danger">If you do this, it cannot be undone.</span>&nbsp;<span class="text-muted">You may also create orphaned document relationships too.</span>
                    </span>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-delete" ng-click="deleteCategory()">Delete</button>
                </div>
            </fieldset></form>
        </div>
    </div>
</section>