$default-background-color:#0da7a9;
$default-font-groups:FuturaPT-Medium,"Helvetica Neue",Helvetica,Arial,sans-serif;
.showhairdresserprofile .card {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin-top:5em;
  background: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0,0,0,0.2));
  border-radius: 4px;
}
.showhairdresserprofile .card-type {
  position: absolute;
  right: 10px;
  bottom: 0;
}
.showhairdresserprofile .card-contact{
  position:absolute;
  left:10px;
  bottom:0;
  background: url(data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIHN0eWxlPSJmaWxsOiM1ODFmMWYiIGQ9Ik0yMCA0SDRjLTEuMSAwLTEuOTkuOS0xLjk5IDJMMiAxOGMwIDEuMS45IDIgMiAyaDE2YzEuMSAwIDItLjkgMi0yVjZjMC0xLjEtLjktMi0yLTJ6bTAgMTRINFY4bDggNSA4LTV2MTB6bS04LTdMNCA2aDE2bC04IDV6Ii8+Cjwvc3ZnPg==) no-repeat center center;
  padding:12px;
   z-index:2;
}
.showhairdresserprofile .card-contact:hover{
  cursor:pointer;
}
.showhairdresserprofile .card-contact a, .card-contact a:hover,.card-contact a:focus,.card-contact a:active{
  text-decoration: none;
}
.showhairdresserprofile .card-name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5em;
  text-transform: initial;
  font-family: $default-font-groups;
}
.showhairdresserprofile .card-details {
  font-size: 16px;
  color:#fafafa;
  font-family: $default-font-groups;
}