<div class="showhairdresserprofile catalog">
	<section id="hairdreser-profil" class="">
		<div class="container">
			<div class="row section">
				<div class="col-sm-offset-1 col-sm-3">
					<hairdresser-id url="{{vm.hairdresser.profile_picture}}" name ="{{vm.hairdresser.name}}" type="{{vm.hairdresser.customer_type | customerTypeFilter}}"></hairdresser-id>
				</div>				
				<div class="col-sm-5  col-sm-offset-2 description">
						<div >
							<h3 style="text-align:center;">Description</h3>
						</div>
						<hr/>
						<p class="row-top">
						{{:: vm.hairdresser.description}}</p>
				</div>				
			</div> <!-- .row -->
		</div><!-- .container -->
	</section><!-- #profil -->
	 
	<section id="logbook" class="">
		<div class="container">
		  <div class="section row">							
					<div class="col-md-6">
						<h3> Prochaines disponibilités </h3>
						 <div class="well well-sm">
							<calendar all-day-label="Toute la journée" ng-model="vm.currentDate" calendar-mode="mode" event-source="vm.eventSource"
									range-changed="vm.reloadSource(startTime, endTime)"
									event-selected="vm.onEventSelected(event)"
									time-selected="vm.onTimeSelected(selectedTime, events)"></calendar>
						</div>
					</div>
					<div class="col-sm-4 row-top">				
						<div class="row logbook-legend">
							<div class="col-sm-offset-2 col-sm-2">
								<span class="legend-square-white"></span>
							</div>
							<div class="col-sm-8">
								<span class="legend-explanation">Touts les cr&eacuteneau sont disponibles </span>
							</div>
						</div>
						<div class=" row logbook-legend">
							<div class="col-sm-offset-2 col-sm-2">
								<span class="legend-square-green"></span>
							</div>
							<div class="col-sm-8">
								<span class="legend-explanation"> Au moins un rendez-vous non confirm&eacute </span>
							</div>
						</div>
						<div class="row logbook-legend">
							<div class="col-sm-offset-2 col-sm-2">
								<span class="legend-square-red"></span>
							</div>
							<div class="col-sm-8">
								<span class="legend-explanation">Journ&eacutee non disponible </span>
							</div>					
						</div>
						<div class="row logbook-legend">
							<div class="col-sm-offset-2 col-sm-2">
								<span class="legend-square-orange"></span>
							</div>
							<div class="col-sm-8">
								<span class="legend-explanation">Au moins un rendez-vous confirm&eacute</span>
							</div>
						</div>
					</div> 
			</div>  <!-- .row -->
		</div> <!-- .container -->
	</section>
	<section id="performance-advice">
	<div class="container">
	<div class="row section">
		<div class="col-sm-6 col-xs-12 performance ">
			<div class="">
				<h3 style="text-align:center;">Prestation et tarif</h3>
			</div>
			<hr/>
			<p class="row-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="col-sm-5  col-sm-offset-1   col-xs-12 advice">
			<div >
				<h3 style="text-align:center;">Avis</h3>
			</div>
			<hr/>
			<p class="row-top">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div><!-- .row -->
	</div><!-- .container -->  	
	</section><!-- #prestation-avis -->
	<section id="category-content">
		<div class="container">
			
			<div class=" section row category-detail">
					<h3> Mes réalisations </h3>
				<select class="category" ng-model="vm.selectedCategory" > 					
					<option ng-repeat="category in vm.listOfAvailableCategories" value="{{category.categoryName[0]}}"> {{category.categoryName[0]|lowercase}}</option>
				</select>
				<br/>
				<div class="col-sm-offset-1 category-entry" ng-repeat="category in vm.listOfAvailableCategories" ng-if="vm.selectedCategory == category.categoryName[0]">
					<catalog-details contents="category.galeryEntries" name="{{category.categoryName[0]|lowercase}}"></catalog-details>
				</div>				
			</div>	
		</div>					
	</section>	

  		<script type="text/ng-template" id="confirmation.html">
  			<div class="modal-header">
	             <h5 class="center modal-title">Connexion requise</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <span class="connection-required" style="text-algin:center;"> Vous devez vous connecter pour pouvoir réserver une séance</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Annuler</button>
	        </div>
   	  	</script>
   	  	<script type="text/ng-template" id="not-same-day.html">
  			<div class="modal-header-warning">
	             <h5 class="center modal-title">Attention</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <span style="text-algin:center;">{{$ctrl.message}}</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	  	</script>
   	  	<script type="text/ng-template" id="slot-confirmation.html">
   	  		<div class="modal-header">
	             <h5 class="center modal-title">Choix de la tranche horaire</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <span class="question-modal" style="text-algin:center;"> Quelle heure shouaiterez vous réserver le {{$ctrl.dt|date}} 
		            <select ng-model="$ctrl.slectedHour" name="appoitment-hour" > 
		          		 <option ng-repeat="hour in $ctrl.openingHourList track by $index" value="{{$index}}">{{hour}}</option>
		            </select><br/>
	           </span>
	           <span ng-show="$ctrl.showError" class="error">*Vous devez choisir une tranche horaire </span>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok($ctrl.slectedHour)">OK</button>
	            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Annuler</button>
	        </div>
   	  	</script>
   	  	
   	  	<script type="text/ng-template" id="date-in-the-pass.html">
	   	  	<div class="modal-header-warning">
	             <h5 class="center modal-title">Date dans le passé</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <p> Vous ne pouvez choisir une date dans le passé </p>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary btn-confirm" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	  	</script>
   	  	<script type="text/ng-template" id="slot-reservation.html">
   	  		<div class="modal-header">
	             <h5 class="center modal-title">Horaire indisponible</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <span class="question-modal" style="text-algin:center;"> La période du {{$ctrl.selectedTimeSlot|date}} à {{$ctrl.slotHour}} est déja prise</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	  	</script>
   	  	<script type="text/ng-template" id="only-customer.html">
   	  		<div class="modal-header-warning">
	             <h5 class="center modal-title"> Bloqué</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <span class="question-modal" style="text-algin:center;"> Seul les clients peuvent accéder à cette fonctionnalités</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	  	</script>
   	  	<script type="text/ng-template" id="novailable-slot.html">
   	  		<div class="modal-header-warning">
	             <h5 class="center modal-title">Attention</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <span class="question-modal" style="text-algin:center;">Plus de créneau horaire disponible pour le {{$ctrl.date|date}}</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	  	</script>
   	  	
   	  	<script type="text/ng-template" id="appointment-registration-confirmation.html">
   	  		<div class="modal-header-success"  ng-show="$ctrl.isSuccess">
	             <h5 class="center success modal-title">Confirmation </h5>
	        </div>
	        <div class="modal-header-error"  ng-hide="$ctrl.isSuccess">
	             <h5 class="center error modal-title">Erreur </h5>
	        </div>
	        <div class="modal-body" id="modal-body" ng-show="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> Votre rendez-vous du {{$ctrl.selectedDay|date}} à {{$ctrl.selectedHour}} est bien enregisté !</span>
	        </div>
	        <div class="modal-body" id="modal-body" ng-hide="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> Une erreur lors de la sauvegarde du rendez-vous !</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-show="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-success" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-hide="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-error" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	  	</script>
   	  	<!-- display a modal about details of a day locked by the hairdresser -->
	<script type="text/ng-template" id="lockedappointment-details.html">
  		<div class="modal-header-warning">
         <h5 class="center modal-title"> Journée réservée </h5>
        </div>
        <div class="modal-body" id="modal-body">
           <span class="question-modal" style="text-algin:center;">La la journée du  {{$ctrl.date|date}} est réservée par {{$ctrl.hairdresserUsername}}.</span>
        </div>
        <div class="modal-footer" style="text-align:center;">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        </div>
  	</script>
  	<script type="text/ng-template" id="location-selection.html">
  		<div class="modal-header">
         <h5 class="center modal-title"></h5>
        </div>
        <div class="modal-body" id="modal-body">
           <span class="question-modal" style="text-algin:center;">{{$ctrl.message}}</span>
           <select ng-model="$ctrl.selectedLocationIndex" name="appoitment-location" > 
		          		 <option ng-repeat="location in $ctrl.locations track by $index" value="{{location.address}}">{{location.address}}</option>
            </select><br/>
        </div>
        <div class="modal-footer" style="text-align:center;">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok($ctrl.selectedLocationIndex)">OK</button>
            <button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">Retour</button>
        </div>
  	</script>
	</div><!-- showhairdresserprofile -->


