<div class="showhairdresserprofile">
	<section id="profil" class="">
		<div class="container">
			<div class="row">
			<div class="col-sm-3">
					<hairdresser-profile-card url="{{vm.url}}" name ="{{vm.hairdresser.username}}" type="{{vm.hairdresser.customer_type | customerTypeFilter}}"></hairdresser-profile-card>
				</div>
				<div class=" col-sm-offset-1 section col-sm-8 description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div> <!-- .row -->
		</div><!-- .container -->
	</section><!-- #profil -->
	<section id="carousel" class="content-widget">
		<div class="container">          
	        <div class="row">
	        	<h4 class="panel-title" style="color:#790303; text-align:center;margin-bottom:5px;">Mes dernières réalisations </h4>
	          <div class="col-xs-offset-1 col-xs-10">
	              <uib-carousel active="vm.active" interval="vm.myInterval" on-carousel-change="vm.onSlideChanged(nextSlide, direction,nextIndex)"no-wrap="vm.noWrapSlides">
	                <uib-slide ng-repeat="slide in vm.slides track by slide.id" index="slide.id">
	                  <div class="carousel-caption">
	                    <!--   <p >{{slide.text}}</p> -->
	                 </div> <!-- .carousel-caption -->
	                   <img class='carousel-img' style="width: 100%;height: auto;" ng-src="{{slide.image}}" >
	              </uib-slide>
	            </uib-carousel>
	         </div>
	        </div>        <!-- .row -->
	    </div><!-- .container-fluid-fluid -->   
	</section><!-- carousel -->
	<section id="logbook" class="content-widget">
		<!-- Accordion template -->
		<script type="text/ng-template" id="group-template.html">
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title" style="color:#790303; text-align:center;">
		          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
		            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
		              {{heading}}
		            </span>
		          </a>
		        </h4>
		      </div>
		      <div class="panel-collapse collapse" uib-collapse="!isOpen">
		        <div class="panel-body" style="text-align: right" ng-transclude></div>
		      </div>
		    </div>
  		</script>
  		<script type="text/ng-template" id="confirmation.html">
  			<div class="modal-header">
	             <h5 class="center modal-title">Connexion requise</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <span class="connection-required" style="text-algin:center;"> Vous devez vous connecter pour pouvoir réserver une séance</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Annuler</button>
	        </div>
   	  	</script>
   	  	<script type="text/ng-template" id="slot-confirmation.html">
   	  		<div class="modal-header">
	             <h5 class="center modal-title">Choix de la tranche horaire</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <span class="question-modal" style="text-algin:center;"> Quelle heure shouaiterez vous réserver le {{$ctrl.dt|date}} 
		            <select ng-model="$ctrl.slectedHour" name="appoitment-hour" > 
		          		 <option ng-repeat="hour in $ctrl.openingHourList track by $index" value="{{$index}}">{{hour}}</option>
		            </select><br/>
	           </span>
	           <span ng-show="$ctrl.showError" class="error">*Vous devez choisir une tranche horaire </span>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok($ctrl.slectedHour)">OK</button>
	            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Annuler</button>
	        </div>
   	  	</script>
   	  	
   	  	<script type="text/ng-template" id="date-in-the-pass.html">
	   	  	<div class="modal-header">
	             <h5 class="center modal-title">Date dans le passé</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <p> Vous ne pouvez choisir une date dans le passé </p>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary btn-confirm" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	  	</script>
   	  	<script type="text/ng-template" id="slot-reservation.html">
   	  		<div class="modal-header">
	             <h5 class="center modal-title">Horaire indisponible</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <span class="question-modal" style="text-algin:center;"> La période du {{$ctrl.selectedTimeSlot|date}} à {{$ctrl.slotHour}} est déja prise</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	  	</script>
   	  	<script type="text/ng-template" id="only-customer.html">
   	  		<div class="modal-header">
	             <h5 class="center modal-title"> Bloqué</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <span class="question-modal" style="text-algin:center;"> Seul les clients peuvent accéder à cette fonctionnalités</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	  	</script>
   	  	<script type="text/ng-template" id="novailable-slot.html">
   	  		<div class="modal-header">
	             <h5 class="center modal-title">Attention</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <span class="question-modal" style="text-algin:center;">Plus de créneau horaire disponible pour le {{$ctrl.date|date}}</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	  	</script>
   	  	
   	  	<script type="text/ng-template" id="appointment-registration-confirmation.html">
   	  		<div class="modal-header-success"  ng-show="$ctrl.isSuccess">
	             <h5 class="center success modal-title">Confirmation </h5>
	        </div>
	        <div class="modal-header-error"  ng-hide="$ctrl.isSuccess">
	             <h5 class="center error modal-title">Erreur </h5>
	        </div>
	        <div class="modal-body" id="modal-body" ng-show="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> Votre rendez-vous du {{$ctrl.selectedDay|date}} à {{$ctrl.selectedHour}} est bien enregisté !</span>
	        </div>
	        <div class="modal-body" id="modal-body" ng-hide="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> Une erreur lors de la sauvegarde du rendez-vous !</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-show="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-success" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-hide="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-error" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	  	</script>

		 <uib-accordion close-others="oneAtATime">
			<div uib-accordion-group class="panel-default" is-open="vm.isCustomHeaderOpen" template-url="group-template.html">
      <uib-accordion-heading>
        Mes prochaines disponibilités <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.isCustomHeaderOpen, 'glyphicon-chevron-right': !vm.isCustomHeaderOpen}"></i>
      </uib-accordion-heading>
  <!-- 	<hairdresser-logbook days = "vm.days" hours = "vm.openingHourList" times = "vm.times"></hairdresser-logbook> -->
		<div class="container">
			<div class="row">
				<div id="logbook">
				    <div class='datepicker'>
				      <div uib-datepicker ng-model="vm.dt" class="well well-sm" datepicker-options="vm.options">
				      </div>
				    </div>
				</div><!-- #logbook -->
			</div> <!-- .row -->
		</div> <!-- .container -->
    </div><!-- uib-accordion-group-->
	</uib-accordion>
	</section>
	<section id="performance-advice">
	<div class="container">
	<div class="row">
		<div class=" section col-sm-6 col-xs-12 performance ">
			<div class="">
				<h3 style="text-align:center;">Prestation et tarif</h3>
			</div>
			<hr/>
			<p class="row-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="col-sm-5 section col-sm-offset-1  section col-xs-12 advice">
			<div >
				<h3 style="text-align:center;">Avis</h3>
			</div>
			<hr/>
			<p class="row-top">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div><!-- .row -->
	</div><!-- .container -->  	
	</section><!-- #prestation-avis -->
	</div><!-- showhairdresserprofile -->


