@import "../../styles/sass/main";
$td-color-border:#dedede;
$td-padding:10px;
$td-background-color:#eee;
$white:#fff;
$color-button:#a94442;/*#790303*/
$button-color:#790303;
$green:#4CAF50;
$orange:#FF6600;
$fafafa:#FAFAFA;
$dark-gray:#7a7878;


.showhairdresserprofile > .Well {
	background: white;
}

 .scrollable{
    /* display: none;*/
}

.showhairdresserprofile select{
    height: 2.5em;
    font-size: 1.2em;
    width: 30%;
    margin:0 auto; 
    margin-bottom: 2em;
    margin-top: 2em;
    background: #0da7a9;
    border: 1px solid #0da7a9;
    color:$fafafa;
    outline: none;
    font-family: FuturaPT-Medium,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.showhairdresserprofile .row-top{
    margin-top: 13%;
}
.description {
    margin-top:6em;
    font-family: FuturaPT-Medium,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#hairdreser-profil{
    margin-top:11em;
}

.showhairdresserprofile .category-entry{
    margin-bottom: 2em;
}
