@import "../../styles/sass/main";



.hairdresser-booking .card{
	height:200px;
}
.hairdresser-booking .card-name{
	position: relative;
    top: 50%;
}

.hairdresser-booking .card-details{
	display:none;
}
.hairdresser-booking .badge{
  background-color: $white;
  margin:0.8%;
  color:$button-color;
}