<section class="hairdresser-booking  hairdresser section-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="row">
					<uploader url="{{vm.hairdresser.profile_picture}}"></uploader>
				</div> <!-- row id card -->
				<menu></menu>
			</div> <!-- .col-sm-4 left-element -->
			<div class="col-sm-offset-1 col-sm-8">
				<div class="section" ng-repeat="apt in vm.hairdresser.nextbookings track by $index" ng-show="apt.appointmentState == -1?true:false">
					<div class="row" id="details" >
					  <div class="row-top">
						<span class="section-contains lbc-contains-emphasize"> Le {{apt.appointmentDate | date }} à {{apt.appointmentHour}} avec {{apt.customerLastname}} {{apt.customerFirstname}}  au {{apt.appointmentLocation}}</span>
					 </div>	
					 <hr/>
					 <div class="center section-top">
						<span class="lbc-button-center col-sm-3 ">							
						<a class="btn-default-lbc btn-lbc btn-lbc-medium" ng-click ="vm.displayConfirmationModal(apt)">Annuler</a>
						</span><!-- .edit-button -->
					 </div> <!-- row section-top -->				
				   </div><!-- .row -->
			   </div> <!-- .section -->
			    <div ng-hide="vm.getPendingAppointment(vm.hairdresser.nextbookings)" >
					<div class="" >
					 <div class="row row-top section ">				
							<span class="notification-title">Vous n'avez pas de rendez-vous prévu.</span><br/>
						</div><!-- .section -->			
				   </div><!-- .row -->
			   </div> <!-- .section -->
			</div><!-- right element -->	
		</div> <!-- top row -->
	</div> <!-- .top container -->
	<!-- modal used to edit an appointment -->
	<script type="text/ng-template" id="edit-appointment.html">
	   	  	<div class="modal-header">
	             <h3 class="center modal-title">Modifier</h3>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <p class="lbc-contains-emphasize"> Vous ne pouvez choisir une date dans le passé </p>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
				<div class="container">
					<div class="row">
						<div class="col-sm-1">
							 <a class="btn-lbc" ng-click ="$ctrl.confirm(apt)">Modifier</a>
						</div>
						<div class="col-sm-offset-3 col-sm-1">
							 <a class="btn-lbc" ng-click ="$ctrl.cancel()">Annuler</a>
						</div>
					</div>	
				</div>	
	        </div>
	</script>
	<script type="text/ng-template" id="action-confirmation.html">
			<div class="modal-header">
				<h3 class="center modal-tile">Confirmation </h3>
			</div>
			<div class="modal-body">
				<span class="lbc-contains-emphasize"> {{$ctrl.message}} </span>
		    </div>
		     <div class="modal-footer" style="text-align:center;">
				 <div class="container">
					<div class="row">
						<div class="col-sm-1">
							<a class="btn-lbc" ng-click ="$ctrl.confirm($ctrl.apt)">Oui</a>
						</div>
						<div class="col-sm-offset-3 col-sm-1">
							<a class="btn-lbc" ng-click ="$ctrl.cancel()">Non</a>
						</div>
					</div>
				</div>        
	        </div>
	</script>
	<script type="text/ng-template" id="cancel-appointment.html">
			<div class="modal-header">
				<h3 class="center modal-tile">Annulation </h3>
			</div>
			<div class="modal-body">
			<form autocomplete="off" role="reason"  id="reason-form"  name="reasonForm"  novalidate ng-submit="$ctrl.cancelAppointment(hairdresserReason)">			
						<label for="reason" uib-tooltip="Entrez au minimum 50 caractères"> Préciser une raison:  </label><br>	
						<textarea  name="reason" ng-model="hairdresserReason" ng-minlength="50"></textarea>
			<div class="container">	
				<div class="row">
				 	<div class="col-sm-2">
	          			<input  type="submit"  name="reason-submit" id="reason-submit" tabindex="2" class="btn-confirm" value="Enregistrer" >
	          		</div>
	          		<div class="col-sm-offset-1 col-sm-2">
	          			<input type="button" class="btn-cancel" type="button" ng-click="$ctrl.cancel()" value="Annuler"/>
	          		</div>
	        	</div>
			</div>
			</form>  
		</div>
	</script>
	<script type="text/ng-template" id="success-modal.html">
   	  		<div class="modal-header-success"  ng-show="$ctrl.isSuccess">
	             <h3 class="center success modal-title">Confirmation </h3>
	        </div>
	        <div class="modal-header-error"  ng-hide="$ctrl.isSuccess">
	             <h3 class="center error modal-title">Erreur </h3>
	        </div>
	        <div class="modal-body" id="modal-body" ng-show="$ctrl.isSuccess">
	           <span class="question-modal lbc-contains-emphasize" style="text-algin:center;"> {{$ctrl.message}}</span>
	        </div>
	        <div class="modal-body" id="modal-body" ng-hide="$ctrl.isSuccess">
	           <span class="question-modal lbc-contains-emphasize" style="text-algin:center;"> {{$ctrl.message}} !</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-show="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-success" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-hide="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-error" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
	</script>
	<script type="text/ng-template" id="update-appointment.html">
  		<div class="modal-header">
			<h3 class="center modal-tile">Confirmation </h3>
		</div>
		<div class="modal-body">
			<p class="input-group">
	          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
	          <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
	        </p>
	    </div>
	     <div class="modal-footer" style="text-align:center;">
			 <div class="container">
				 <div class="row">
					 <div class="col-sm-1">
						<a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.confirm($ctrl.apt)">Ok</a>
					 </div>
					 <div class="col-sm-offset-3 col-sm-1">
						<a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.cancel()">Annuler</a>
					 </div>
				 </div>
			 </div>        
	    </div>
	</script>
      <script type="text/ng-template" id="appointnment-date-close.html">
			<div class="modal-header-warning">
				<h3 class="center modal-tile">Avertissement</h3>
			</div>
			<div class="modal-body">
				<span class="lbc-contains-emphasize"> {{$ctrl.message}} </span>
		    </div>
		     <div class="modal-footer" style="text-align:center;">
				 <div class="container">
					 <div class="row">
						 <div class="col-sm-offset-5 colm-sm-1">
							<a class="btn-default-lbc btn-lbc" ng-click ="$ctrl.ok($ctrl.apt)">OK</a>
						 </div>
					 </div>
				 </div>	            
	        </div>
	</script>
</section><!-- hairdresser -- >