@import "./../../../../styles/sass/main";
@import "./../hairdressers/admin-hairdresser";
.view-state{
	cursor:pointer;
	&:hover,&:focus,&:focus:hover{
		outline:none;
		cursor:pointer;
	}
}

.view-state > .well{
	border:	1px solid #898686;
}