
.login {
    margin-top: 0;
    font-family:  "Helvetica";
    font-weight: 400;
}
 a {
    text-decoration: none;
    color:#333;
    font-size: 18px;
    font-family: "Helvetica";
}
 a:hover{
    cursor:pointer;
}

 .panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
 .panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
    font-family: "Helvetica";
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    font-family: "Helvetica";
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #02DBAA;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    background-color: #fafafa;
    width:100%;
}
 .panel-login input:hover,
 .panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
 .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    font-family: "Helvetica";
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

 .btn-login {
    background-color:#a94442;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-family: "Helvetica";
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color:#a94442;
    opacity:1;
    width:100%;
    height:57px;
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    border: none;
    margin: 0;
    cursor: pointer;
    overflow: visible;
    margin-left:3px;
}
.btn-login:hover,
 .btn-login:focus {
    color: #fff;
    /*background-color: #22AA22;
    border-color:  #22AA22;*/
    opacity:0.8;
}

.forgot-password {
    transition: all 0.3s ease;
    cursor:pointer;
    opacity:0.6;
}
 .forgot-password:hover,
 .forgot-password:focus {
    text-decoration: none;
    transition: all 0.3s ease;
    opacity:1;
}

.btn-register {
    background-color: #a94442;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-family: "Helvetica";
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #a94442;
    opacity:1;
    transition: all 0.3s ease;
    width:100%;
    height:57px;
    margin-left: 3px;
}
 .btn-register:hover,
.btn-register:focus {
    color: #fff;
   /* background-color:#22AA22;
    border-color: #22AA22;*/
    opacity:0.8;
    transition: all 0.3s ease;
}

/* social button design */
.facebook-intro{
    color: #333;
    font-size: 18px;
    font-family: "Helvetica";
}
.button-facebook{
    color:white !important;
    font-weight: bold;/*arrière plan de couleur implique généralement texte un peu plus gras */
    /*border-radius: 4px;*/
    font-family: "Helvetica";
    padding:10px 15px;
    background-color: #4267B2;
    opacity: 1;
    transition: all 0.3s ease;
    width:100%;
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    border: none;
    cursor: pointer;
    overflow: visible;
    height:57px;
    margin-left: 3px;

}
.button-facebook:hover{
    opacity:0.8;
    background-color: #4267B2;
    transition: all 0.3s ease;
}
 .background-line {
    display: table;
    white-space: nowrap;
}
 .background-line:before, .background-line:after {
    border-top: 1px solid silver;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.8em;
    width: 50%;
}

 .background-line > span {
    padding: 0 20px;
    font-family:  "Helvetica Neue";
}
 .push--bottom, .push--ends {
    margin-bottom: 32px !important;
}
 .push--top, .push--ends {
    margin-top: 32px !important;
}

 .push-tiny--top, .login .push-tiny--ends {
    margin-top: 12px !important;
}
 .push-tiny--bottom {
    margin-bottom: 12px !important;
}
 .form-group{
    margin-bottom: 24px;
}
 hr {
    border: 0;
    border-bottom: 1px solid silver;
   margin: 30px -20px 20px; /* Allow us to have a full width hr */
}
.img-responsive{
    display: block;
    max-width: 50%;
    height: auto;
}
.text-input{
    height: 50px;
    color: black;
    font-family: "Helvetica";
}
 a >i{
    border-right: 1px solid black;
}
 .lebeaucheveu-logo-text{
    display: flex;
    align-items: center;
    padding: 20px;
    letter-spacing: 1px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Helvetica";
    color: #000;
}

 .message-registration-success {
    margin-top: 20px;
    font-size: 1.5em;
    letter-spacing: 0.2px;
    font-family: 'Helvetica';
    white-space: nowrap;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.login-link{
    color:#000;
    font-weight: bolder;
    text-transform: capitalize;
    opacity:0.8;
}
 .login-link:hover{
    opacity:1;
    cursor:pointer;
}
 .label-displayed{
    display:none;
}

@media screen and (min-width: 768px){
    .modal-sm{
        width:495px;
    }
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

@media (min-width: 992px){
   .modal-lg {
    /* width: 900px; */
    width:0;
    } 
}

@media (min-width: 768px){

    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}

.modal-body{
    padding-left:50px;
}



