<section class="login">
  <div class="container" ng-hide='vm.isSuccessfullRegistration || vm.isSuccessfullLogin'>
        <div class="row">
        <!--   <a class="btn btn-block btn-social btn-facebook">
        <i class="fa fa-facebook"></i> Sign in with Facebook
      </a> -->
      <div class="col-sm-5">
        <div class=" "><!-- panel panel-login -->
          <div class="row">
            <div class="col-xs-5 col-xs-offset-4  text-center push-tiny--top push-tiny--bottom" >
               <span class="lebeaucheveu-logo-text"> Lebeaucheveu</span>
            </div>           
          </div>
     
          <div class="row" id="login-form">
            <!-- Login with facebook -->
                 <p class="background-line push--top push--bottom">
                    <span> Connectez vous via facebook </span>
                </p>            
                <div class="">
                      <a class="button-facebook" href="{{vm.facebookUrl}}" >
                        <i class="fa fa-facebook"></i>
                         Se connecter avec facebook
                      </a>                   
               </div>
                  
            
          <!-- Login with local credentials -->
          <p class="background-line push--top push--bottom">
                    <span> Ou avec votre email </span>
          </p> 
                                                                    <!-- CUSTOMER LOGIN FORM -->
          <div class="customer-login">
              <div class="col-lg-12">
                <span class="customer-login-text">client</span>
                <form autocomplete="false"  role="login" name="loginForm" novalidate style="display: block;" ng-submit="vm.login(vm.user,loginForm,2)">
                   <div ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
                    <label class="label-displayed" for="username"></label>
                    <input type="text" data-actor="customer" name="username" id="username" autocomplete="false"  ng-model ="vm.user.username" tabindex="1" class="form-control" placeholder="nom d'utilisateur" value="" required username-existence>
                    <!-- in case of an error the message below is displayed as part of the list of message errors -->
                    <span ng-if='loginForm.username.$pending.existusername' class='text-info'>Vérification de la disponibilité ...</span>
                    <span ng-show='loginForm.username.$invalid && !loginForm.username.$error.existusername &&!loginForm.username.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>
                    <span ng-show="loginForm.username.$invalid && loginForm.username.$error.existusername&&!loginForm.username.$pristine" class="text-warning">Ce nom d'utilisateur n'existe pas.</span>
                  </div>
                  <div ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                    <label class="label-displayed" for="password"></label>
                    <input type="password" name="password" id="password"  autocomplete="false"  ng-model ="vm.user.password" tabindex="2" class="form-control" placeholder="mot de passe" value="" required password-validator>
                    <!-- in case of an error the message below is displayed as part of the list of message errors -->
                    <span ng-show="loginForm.password.$invalid && !loginForm.password.$error.password&&!loginForm.password.$pristine" class="text-danger">Le mot de passe est requis</span>
                    <span ng-show='loginForm.password.$error.password && !loginForm.password.$pristine' class='text-warning'>Le mot de passe saisi doit contenir au minimum 8 caractères alphabétiques et/ou numériques</span>

                  </div>           
                  <div class="form-group push-tiny--top">
                    <div class="row">
                      <div class="">
                        <input type="submit"  ng-disabled="loginForm.$invalid" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Se connecter" >
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center">
                          <a  tabindex="5" ng-click="vm.passwordForgot()" class="forgot-password">Mot de passe oublié?</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="text-center">
                  Vous n'avez pas de compte? <a href="#" id="register-form-link">Inscription</a>              
                </div>
              </div><!-- end col-lg-12 -->
            </div><!-- .customer-login  --> 

                                                       <!-- HAIRDRESSER LOGIN FORM -->

            <div class="hairdresser-login">
              <div class="col-lg-12">
                 <span class="hairdresser-login-text">Coiffeur/Coiffeuse</span>
                <form autocomplete="false"  role="login" name="loginForm" novalidate style="display: block;" ng-submit="vm.login(vm.user,loginForm,1)">
                   <div ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
                    <label class="label-displayed" for="username"></label>
                    <input type="text"  data-actor="hairdresser" name="username" id="username" autocomplete="false"  ng-model ="vm.user.username" tabindex="1" class="form-control" placeholder="nom d'utilisateur" value="" required username-existence>
                    <!-- in case of an error the message below is displayed as part of the list of message errors -->
                    <span ng-if='loginForm.username.$pending.existusername' class='text-info'>Vérification de la disponibilité ...</span>
                    <span ng-show='loginForm.username.$invalid && !loginForm.username.$error.existusername &&!loginForm.username.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>
                    <span ng-show="loginForm.username.$invalid && loginForm.username.$error.existusername&&!loginForm.username.$pristine" class="text-warning">Ce nom d'utilisateur n'existe pas.</span>
                  </div>
                  <div ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                    <label class="label-displayed" for="password"></label>
                    <input type="password" name="password" id="password"  autocomplete="false"  ng-model ="vm.user.password" tabindex="2" class="form-control" placeholder="mot de passe" value="" required password-validator>
                    <!-- in case of an error the message below is displayed as part of the list of message errors -->
                    <span ng-show="loginForm.password.$invalid && !loginForm.password.$error.password&&!loginForm.password.$pristine" class="text-danger">Le mot de passe est requis</span>
                    <span ng-show='loginForm.password.$error.password && !loginForm.password.$pristine' class='text-warning'>Le mot de passe saisi doit contenir au minimum 8 caractères alphabétiques et/ou numériques</span>

                  </div>           
                  <div class="form-group push-tiny--top">
                    <div class="row">
                      <div class="">
                        <input type="submit"  ng-disabled="loginForm.$invalid" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Se connecter" >
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center">
                          <a  tabindex="5" ng-click="vm.passwordForgot()" class="forgot-password">Mot de passe oublié?</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="text-center">
                  Vous n'avez pas de compte? <a href="#" id="register-form-link">Inscription</a>              
                </div>
              </div><!-- end col-lg-12 -->
            </div><!-- .hairdresser-login  -->
            </div><!-- end  row with login-form id -->
                                                                <!-- REGISTER FORM -->
            <div class="">              
             <div class="row">

              <div class="col-lg-12" >
                <form autocomplete="false" role="register" id="register-form"  name="registerForm"  novalidate ng-submit="vm.register(vm.user,registerForm)" style="display: none;">
                 <p class="background-line push--top push--bottom">
                    <span> Bienvenue sur Lebeaucheveu </span>
                </p>
                <!-- username -->
                <div ng-class="{ 'has-error' : registerForm.username.$invalid && !registerForm.username.$pristine }">
                    <label class="label-displayed" for="username"></label>
                    <input type="text" name="username" id="username"  ng-model ="vm.user.username" tabindex="1" class="form-control" placeholder="nom d'utilisateur" value="" required>
                    <!-- in case of an error the message below is displayed as part of the list of message errors -->
                    <span ng-if='registerForm.username.$pending.uniqueusername' class='text-info'>Vérification de la disponibilité ...</span>
                    <span ng-show='registerForm.username.$invalid&& !registerForm.username.$error.uniqueusername &&!registerForm.username.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>
                    <span ng-show="registerForm.username.$invalid &&registerForm.username.$error.uniqueusername&&!registerForm.username.$pristine" class="text-warning">Le nom d'utilisateur choisi n'est plus disponible.</span>
                  </div>
                   <!-- firstname -->
                  <div ng-class="{ 'has-error' : registerForm.firstname.$invalid && !registerForm.firstname.$pristine }">
                    <label class="label-displayed" for="firstname"></label>
                    <input type="text" name="firstname" id="firstname"  ng-model ="vm.user.firstname" tabindex="1" class="form-control" placeholder="prénom " value="" required>
                    <!-- in case of an error the message below is displayed as part of the list of message errors -->
                    <span ng-show='registerForm.firstname.$invalid &&!registerForm.firstname.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>
                  </div>
                   <!-- lastname -->
                  <div ng-class="{ 'has-error' : registerForm.lastname.$invalid && !registerForm.lastname.$pristine }">
                    <label class="label-displayed" for="lastname"></label>
                    <input type="text" name="lastname" id="lastname"  ng-model ="vm.user.lastname" tabindex="1" class="form-control" placeholder="nom" value="" required>
                    <!-- in case of an error the message below is displayed as part of the list of message errors -->
                    <span ng-show='registerForm.lastname.$invalid &&!registerForm.lastname.$pristine' class='text-danger'>Le nom d'utilisateur est requis </span>
                  </div>
                   <!-- email -->
                  <div ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }">
                    <label class="label-displayed" for="email"></label>
                    <input type="text" name="email" id="email"  ng-model ="vm.user.email" tabindex="1" class="form-control" placeholder="email" value="" required email-validator>
                    <!-- in case of an error the message below is displayed as part of the list of message errors -->
                    <span ng-show="registerForm.email.$invalid && !registerForm.email.$error.email &&!registerForm.email.$pristine" class="text-danger">L'email est requis </span>
                    <span ng-show='registerForm.email.$invalid && registerForm.email.$error.email && !registerForm.email.$pristine' class='text-warning'>L'email saisi n'est pas valide</span>
                  </div>
                   <!-- password-->
                  <div ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine }">
                    <label class="label-displayed" for="password"></label>
                    <input type="password" name="password" id="password"  ng-model ="vm.user.password" tabindex="1" class="form-control" placeholder="mot de passe" value="dsds" required password-validator>
                    <!-- in case of an error the message below is displayed as part of the list of message errors -->
                    <span ng-show="registerForm.password.$invalid && !registerForm.password.$error.password&&!registerForm.password.$pristine" class="text-danger">Le mot de passe est requis</span>
                    <span ng-show='registerForm.password.$error.password && !registerForm.password.$pristine' class='text-warning'>Le mot de passe saisi doit contenir au minimum 8 caractères alphabétiques et/ou numériques</span>
                  </div>
                   <!-- password confirmation -->
                  <div ng-class="{ 'has-error' : registerForm.passwordConfirmation.$invalid && !registerForm.passwordConfirmation.$pristine }">
                    <label class="label-displayed" for="passwordConfirmation"></label>
                    <input type="password" name="passwordConfirmation" id="passwordConfirmation"  ng-model ="vm.user.passwordConfirmation" tabindex="1" class="form-control" placeholder="confirmation du mot de passe" value="" required password-confirmation>
                    <!-- in case of an error the message below is displayed as part of the list of message errors -->
                    <span ng-show="registerForm.passwordConfirmation.$invalid && registerForm.passwordConfirmation.$error.passwordconfirmation &&!registerForm.passwordConfirmation.$pristine" class="text-danger">les mots de passe doivent être identique. </span>
                    
                  </div>
                  <div class="form-group text-center">
                    <label   for="role">Êtes-vous un(e) coiffeuse/coiffeur ?</label>
                    <input type="checkbox" tabindex="3" class="" name="role"  ng-model="vm.user.role"  ng-true-value='1' ng-false-value='2' id="role">
                 </div>
                  <div class="form-group push-tiny--top">
                    <div class="row">
                      <!-- <div class="col-sm-6 col-sm-offset-3"> -->
                      <div class="">
                        <input type="submit"  ng-disabled="registerForm.$invalid" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="S'inscrire">
                      </div>
                    </div>
                  </div>
                  <hr/>
                  <div class="text-center">
                   <!--  Se connecter? <a ng-click="vm.goToLoginView()" id="login-form-link">Connexion</a>     --> 
                   Se connecter? <a ui-sref="home.login" id="login-form-link">Connexion</a>          
                  </div>
                </form>
              </div><!-- end col-lg-12 -->
            </div><!-- end target row -->
          </div><!-- end panel-body -->
        </div><!-- end panel-login -->
      </div>
    </div>
  </div> 
  <div class="container" id="successfull-registration" ng-show="vm.isSuccessfullRegistration">
       <div class="row">
         <div class="col-md-5 col-md-offset-2">
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 push-tiny--top push-tiny--bottom" >
                 <span class="message-registration-success text-success">Bienvenue sur Lebeaucheveu</span>
              </div> <!-- end .col -->          
          </div><!-- end .row -->  
          <hr>
          <div class="row">         
                <div class="col-sm-5">
                    <p class='lebeaucheveu-logo-text'> Lebeaucheveu se veut être une palteforme de reférence pour la coiffure à domicile. Dès votre connection vous aurez accès à de nombreux
                      profile de coiffeuses/coiffeurs, offrant de nombreuse prestations. Nous mettons aussi à votre disposition de nombreux produits qui vous 
                      aiderons à donner vie à vos styles les plus fous.<br/>
                    </p> 
                </div>                 
          </div> <!-- end .row -->     
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
              <!--  <a class='login-link' ng-click='vm.goToLoginView()'>Se connecter </a> -->
              <a class='login-link' ui-ref="home.login">Se connecter </a>
            </div>
          </div> <!-- end .row -->   
          <hr>
         </div><!-- end .col --> 
      </div> <!-- end .row -->
  </div>
  <div class="container" id="successfull-login" ng-show="vm.isSuccessfullLogin">
      <div class="row">
          <p> Successfull Login </p>
      </div>  
  </div> 
</section>
