<section class="login">
  <div class="container">
        <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class=" "><!-- panel panel-login -->
          <div class="row">
            <div class="col-xs-6 col-xs-offset-4 push-tiny--top push-tiny--bottom" id="lebeaucheveu-logo" >
             <img class='img-responsive img-circle' src='https://res.cloudinary.com/hgtagghpz/image/upload/v1472061902/ou9pckcukodbxjtuy4op.png' alt="logo"/> 
            </div>           
          </div>
     
          <div class="row" id="login-form">
            <!-- Login with facebook -->
                 <p class="background-line push--top push--bottom">
                    <span> Connectez vous via facebook </span>
                </p>            
                <div class="">
                      <a class="button-facebook" href="{{vm.facebookUrl}}" >
                        <span class="fa fa-facebook"></span>
                         Se connecter avec facebook
                      </a>                   
               </div>       
            
          <!-- Login with local credentials -->
          <p class="background-line push--top push--bottom">
                    <span> Ou avec votre email </span>
          </p> 
          <div class="">
              <div class="col-lg-12">
                <form role="login" name="loginForm" novalidate style="display: block;">
                  <div ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                    <input type="text" name="email" id="email"  ng-model ="vm.user.email" tabindex="1" class="form-control" placeholder="email" value="" required>
                    <!-- in case of an error the message below is displayed as part of the list of message errors -->
                    <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Email est requis </p>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }" >
                    <input type="password" name="password" id="password" ng-model="vm.user.password" tabindex="2" class="form-control" placeholder="mot de passe">
                    <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Le mot de passe est requis </p>
                  </div>                 
                  <div class="form-group push-tiny--top">
                    <div class="row">
                      <div class="">
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Se connecter" ng-click="vm.login(vm.user,loginForm)">
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center">
                          <a  tabindex="5" ng-click="vm.passwordForgot()" class="forgot-password">Mot de passe oublié?</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="text-center">
                  Vous n'avez pas de compte? <a href="#" id="register-form-link">Inscription</a>              
                </div>
              </div><!-- end col-lg-12 -->
            </div><!-- end panel-body  -->  
            </div><!-- end  row with login-form id -->
            <div class="">              
             <div class="row">

              <div class="col-lg-12" >
                <form role="form" id="register-form"  style="display: none;">
                 <p class="background-line push--top push--bottom">
                    <span> Bienvenue sur Lebeaucheveu </span>
                </p>
                  <div class="">
                    <input type="text" name="username" ng-model="user.userName" id="userame" tabindex="1" class="form-control" placeholder="Username" value="">
                  </div>
                  <div class="">
                    <input type="email" name="email" id="email"  ng-model="user.email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                  </div>
                  <div class="">
                    <input type="password" name="password" id="password" ng-model="user.password" tabindex="2" class="form-control" placeholder="Password">
                  </div>
                  <div class="">
                    <input type="password" name="confirm-password" id="confirm-password" ng-model="user.password2" tabindex="2" class="form-control" placeholder="Confirm Password">
                  </div>
                  <div class="form-group text-center">
                    <input type="checkbox" tabindex="3" class="" name="role" id="role">
                    <label for="role">Êtes-vous un(e) coiffeuse/coiffeur ?</label>
                 </div>
                  <div class="form-group push-tiny--top">
                    <div class="row">
                      <!-- <div class="col-sm-6 col-sm-offset-3"> -->
                      <div class="">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="S'inscrire" ng-click="vm.register(user)">
                      </div>
                    </div>
                  </div>
                  <hr/>
                  <div class="text-center">
                    Se connecter? <a ng-click="vm.goToLogin()" id="login-form-link">Connexion</a>              
                  </div>
                </form>
              </div><!-- end col-lg-12 -->
            </div><!-- end target row -->
          </div><!-- end panel-body -->
        </div><!-- end panel-login -->
      </div>
    </div>
  </div>  
</section>
