@import "../helpers/mixin";

$button-confirm-background:#6e6d6d;
$button-cancel-background:#a94442;
$button-back-background:#333;
$default-button-color:#790303;
$white:#fff;
$green:green;
$red:red;
$gray:#ACACAC;
.button-default-lbc{
 	&:hover{
 		color:white;
 		opacity: 1;
	    background: #a94442;
	    margin: 0;
 	}
 	&:hover,&:active,&:focus{
 		 text-decoration: none;
 	}
}

.btn-lbc {
  color: $white;
  padding: 12px 35px;
  border-radius: 4px;
  font-weight: 400;
  background: $default-button-color;
  transition: background 0.3s ease;
  &:hover{
  	color:$white;
  	background:$button-cancel-background;
  }
}

/* Confirmation button in modal windows */
.btn-confirm {
    color: $white;
    background-color: $button-confirm-background;
    border-color:$button-confirm-background;
    margin-top:3%;
    &:hover,&:focus,&:active{
    	color:$white;
    }
}

/* cancel button in modal windows */
.btn-cancel{
 	color: $white;
    background-color: $button-cancel-background;
    border-color:$button-cancel-background;
     margin-top:3%;
     &:hover,&:focus,&:active{
    	color:$white;
    }
}

/* back button in modal windows */
.btn-back {
    color: $white;
    background-color: $button-back-background;
    border-color:$button-back-background;
     &:hover,&:focus,&:active{
    	color:$white;
    }
}

.btn-success {
    color: $white;
    background-color: $green;
    border-color:$green;
     &:hover,&:focus,&:active{
      color:$white;
      background-color: $green;
    }
}
.btn-error {
    color: $white;
    background-color: $red;
    border-color:$red;
     &:hover,&:focus,&:active{
      color:$white;
      background-color: $red;
    }
}

.lbc-button-center{
  float: initial;
  text-transform:uppercase;
  font-size:1.3em;
  clear:none;
}

.btn-lbc-slim{
  padding:5px 5px;
  font-size:1em;
}

.btn-lbc-medium{
    color: #fff;
    padding: 6px 15px;
    border-radius: 4px;
    font-weight: 400;
    background: #790303;
    transition: background 0.3s ease;
    font-size: 0.9em;
}

.locked button  {
     background-color: $gray;
    border-color:$gray;
    color: black;
    &:hover{
       background-color: $gray;
       border-color:$gray;
    }
  }
  .booked button  {
    background-color: orange;
    border-color:orange;
    color: black;
    &:hover{
      background-color: orange;
      border-color:orange;
    }
  }
