@import "../helpers/mixin";

.button-default-lbc{
 	&:hover{
 		color:white;
 		opacity: 1;
	    background: #a94442;
	    margin: 0;
 	}
 	&:hover,&:active,&:focus{
 		 text-decoration: none;
 	}
}

.btn-lbc {
  color: white;
  padding: 12px 35px;
  border-radius: 4px;
  font-weight: 400;
  background: #790303;
  transition: background 0.3s ease;
  &:hover{
  	color:#fff;
  	background:#A94442;
  }
}