@import "../../styles/sass/main";


.hairdresser-logbook .card{
	height:200px;
	
}
.hairdresser-logbook .card-name{
	position: relative;
    top: 50%;
}

.hairdresser-logbook .card-details{
	display:none;
}
.hairdresser-logbook .badge{
  background-color: $white;
  margin:0.8%;
  color:$button-color;
}

.hairdresser-logbook .btn-lbc{
	display:none;
}

.hairdresser-logbook .logbook-spinner {
	width: 20%;
    margin-top: 20%;
}

.hairdresser-logbook .well{
	/* background: #ccc; */
	background: white;
    border: solid 1px #eee;
}

.uib-day button, .uib-month button, .uib-year button {
    min-width: 100%;
    width: 5em;
    height: 5em;
}

#logbook .btn-default {
    color: #000;
    background-color: #eee;
    border-color: #fafafa;
    font-size: 1em;
    /* font-family: futuraPT-Books; */	
}

#logbook .datepicker .btn-info{
    background: #555A67 !important;   
     color: wheat !important;
}

.datepicker .text-info{

	 color: wheat !important;
}

#logbook .uib-day .btn-default { 
    background-color: #eee;
    &:hover { 
   		 background-color: white;
	}
}

.logbook-legend {
    margin-bottom: 2em;
    text-align: right;
 }
