<section class="hairdresser section-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="row">				
					<uploader url={{vm.hairdresser.profile_picture}}></uploader>			
				</div> <!-- row id card --> 
				<menu></menu>
			</div> <!-- .col-sm-4 left-element -->
			<div class="col-sm-offset-1 col-sm-5">
				<!--<div class="row">
					<div>
						<div ng-hide="loadLogbook">
						<img class="logbook-spinner" ng-src={{spinner}}/>					 
						</div>
						<div ng-show="loadLogbook">	
							<div id="logbook">
							    <div class='datepicker'>
							      <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
							    </div>
							</div> 								
						</div>	
					</div>
				</div> -->
				<div class="row">
					 <div class="well well-sm">
							<calendar all-day-label="Toute la journée" ng-model="vm.currentDate" calendar-mode="mode" event-source="vm.eventSource"
									range-changed="vm.reloadSource(startTime, endTime)"
									event-selected="vm.onEventSelected(event)"
									time-selected="vm.onTimeSelected(selectedTime, events)">
							</calendar>
					</div>
				</div> <!-- calendar -->
			</div> <!-- right element -->	
			<div class="col-sm-3 row-top">				
				<div class="row logbook-legend">
					<div class="col-sm-offset-2 col-sm-2">
						<span class="legend-square-white"></span>
					</div>
					<div class="col-sm-8">
						<span class="legend-explanation">Touts les cr&eacuteneau sont disponibles </span>
					</div>
				</div>
				<div class=" row logbook-legend">
					<div class="col-sm-offset-2 col-sm-2">
						<span class="legend-square-green"></span>
					</div>
					<div class="col-sm-8">
						<span class="legend-explanation"> Au moins un rendez-vous non confirm&eacute </span>
					</div>
				</div>
				<div class="row logbook-legend">
					<div class="col-sm-offset-2 col-sm-2">
						<span class="legend-square-red"></span>
					</div>
					<div class="col-sm-8">
						<span class="legend-explanation">Journ&eacutee non disponible </span>
					</div>					
				</div>
				<div class="row logbook-legend">
					<div class="col-sm-offset-2 col-sm-2">
						<span class="legend-square-orange"></span>
					</div>
					<div class="col-sm-8">
						<span class="legend-explanation">Au moins un rendez-vous confirm&eacute</span>
					</div>
				</div>
			</div> <!-- .row -->
								
		</div> <!-- top row -->
	</div> <!-- .top container -->
	<!-- modal displayed when the date selected corresponds to an empty appointment in the past -->
	<script type="text/ng-template" id="date-in-the-pass.html">
	   	  	<div class="modal-header">
	             <h5 class="center modal-title">{{$ctrl.date | date}} est dans le passé</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <p> Vous ne pouvez choisir une date dans le passé </p>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary btn-confirm" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	  	</script>
   	<!-- display modal allowing an hairdresser to locked a date/time slot -->
   	<script type="text/ng-template" id="lockedappointment.html">
   	  		<div class="modal-header">
	             <h5 class="center modal-title">Vérouiller une journée ?</h5>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <span class="question-modal" style="text-algin:center;">Souhaitez-vous v&erouiller  la journée  du  {{$ctrl.date|date}} ? </span>
	        </div>
	        <div class="modal-footer" style="text-align:center;">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.confirm()">V&erouiller</button>
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.back()">Annuler</button>
	        </div>
  	</script>
  	<!-- display a modal about details of a day locked by the hairdresser -->
	<script type="text/ng-template" id="lockedappointment-details.html">
  		<div class="modal-header-warning">
         <h5 class="center modal-title"> Journée réservée </h5>
        </div>
        <div class="modal-body" id="modal-body">
           <span class="question-modal" style="text-algin:center;">Vous avez réservée la journ&ee du  {{$ctrl.date|date}}. </span>
        </div>
        <div class="modal-footer" style="text-align:center;">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        </div>
  	</script>
  	
   	<!-- display appointment confirmation or cancelation modal -->
   	<script type="text/ng-template" id="appointmentconfirmation.html">
			<div class="modal-header default" id="modal-header">
				<h3 class="center modal-tile">Confirmation</h3>
			</div>
	        <div class="modal-body default" id="modal-body">
	           <span class="section-label" > Confirmer le rendez-vous du {{$ctrl.apt.date|date}} à {{$ctrl.apt.time}} ?</span>
	        </div>
	        <div class="center" >
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Confirmer</button>
	             <button class="btn btn-primary" type="button" ng-click="$ctrl.decline()">Refuser</button>
	        </div>
	        <div class="modal-footer default" >
	            <button class="btn btn-cancel" type="button" ng-click="$ctrl.back()">Retour</button>	             
	        </div>
   	</script>
   	<!-- displays list of appoitment(s) for a selected day -->
   	<script type="text/ng-template" id="appointment-list.html">
   		<div class="modal-header default" id="modal-header">
					<h3 class="center modal-tile">Rendez-vous du {{$ctrl.appointmentOfTheDay[0].date|date}}</h3>
		</div>
   		<div  ng-repeat ="apt in $ctrl.appointmentOfTheDay track by $index">
			<div  ng-if="apt.type == -1" >
				<!-- <div class="modal-header default" id="modal-header">
					<h3 class="center modal-tile">Journée vérouillée</h3>
				</div>-->
		        <div class="modal-body default" id="modal-body">
		           <div>
		           		<p> Vous avez v&erouillé la journ&ee du {{apt.date|date}}.</p>
		           </div>
		        </div>
	        </div>
	        <div  ng-if="apt.type != -1" >
				
		        <div class="modal-body default" id="modal-body">
		           <div>
		           		<p> {{apt.date |date}} à {{apt.time}} avec {{apt.relatedCustomer}} </p>
		           		<button class="btn btn-primary" ng-click="$ctrl.appointmentDetails(apt)">Détails</button>
		           </div>
		        </div>
	        </div>
	    </div>
        <div class="modal-footer default">
            <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">Retour</button>
        </div>
   	</script>
   	<!-- displays haidresser appointment confirmation or cancelation, action's confirmation message -->
   	<script type="text/ng-template" id="appointment-update-confirmation.html">
   	  		<div class="modal-header-success"  ng-show="$ctrl.isSuccess">
	             <h5 class="center success modal-title">Confirmation </h5>
	        </div>
	        <div class="modal-header-error"  ng-hide="$ctrl.isSuccess">
	             <h5 class="center error modal-title">Erreur </h5>
	        </div>
	        <div class="modal-body" id="modal-body" ng-show="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> {{$ctrl.message}}</span>
	        </div>
	        <div class="modal-body" id="modal-body" ng-hide="$ctrl.isSuccess">
	           <span class="question-modal" style="text-algin:center;"> Une erreur lors de la sauvegarde du rendez-vous !</span>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-show="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-success" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
	        <div class="modal-footer" style="text-align:center;"  ng-hide="$ctrl.isSuccess">
	            <button class="btn btn-primary btn-error" type="button" ng-click="$ctrl.ok()">OK</button>
	        </div>
   	  	</script>
   	  	<!-- Displays appoitment details -->
   	  	<script type="text/ng-template" id="appointment-details.html">
			<div class="modal-header default" id="modal-header">
				<h3 class="center modal-tile">Rendez-vous du {{$ctrl.apt.date|date}} à {{$ctrl.apt.time}}</h3>
			</div>
	        <div class="modal-body default" id="modal-body">
	           <div class="appointment-details">
	           		<p> Rendez-vous confirmé pour le {{$ctrl.apt.date |date}} à {{$ctrl.apt.time}} avec {{$ctrl.apt.relatedCustomer}} </p>
	           </div>
	        </div>
	        <div class="modal-footer default">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Ok</button>
	        </div>
   	   </script>
   	   <!-- Displays past appointment history -->
   	   <script type="text/ng-template" id="appointment-appointment-history.html">
			<div class="modal-header default" id="modal-header">
				<h3 class="center modal-tile">Rendez-vous du {{$ctrl.apt.date|date}} à {{$ctrl.apt.time}}</h3>
			</div>
	        <div class="modal-body default" id="modal-body">
	           <div class="appointment-details">
	           		<p> Rendez-vous confirmé le {{$ctrl.apt.date |date}} à {{$ctrl.apt.time}} avec {{$ctrl.apt.relatedCustomer}} </p>
	           </div>
	        </div>
	        <div class="modal-footer default">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Ok</button>
	        </div>
   	   </script>
   	  <!-- Modal displayed to give information about an locked appointment -->
   	  <script type="text/ng-template" id=" appointment-locked.html">
			<div class="modal-header default" id="modal-header">
				<h3 class="center modal-tile">Réservé !</h3>
			</div>
	        <div class="modal-body default" id="modal-body">
	           <div class="appointment-details">
	           		<p>Vous avez réservé la période du {{$ctrl.apt.date |date}} à {{$ctrl.apt.time}}</p>
	           </div>
	        </div>
	        <div class="modal-footer default">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.confirm()">Ok</button>
	        </div>
   	   </script>

</section><!-- hairdresser -- >