@import "../../styles/sass/main"; 

$default-padding:4%;
$white:#fafafa;

.forgot .forgot-row-top-4{
	margin-top:4%;
}

.forgot .forgot-row-top-10 {
	margin-top:10
}

.forgot .mail-confirmation-body{
	padding:$default-padding;
	background:$white;
}

.forgot .section-content {
	font-size:1em;
	font-weight:100;
}

.forgot-default-background{
	background:$white;
}
.forgort-grey-background{
	background:rgba(227,227,227,0.8);
}

.forgot .btn-lbc {
	background: $default-background-color;
    border: 1px solid white;
    color: white;
    padding: 0.5em;
    font-weight: lighter;
    font-size: 1.2em;

    &:hover{
    	text-decoration:none;
    	color:white;
    	background:$default-background-color;
        border:1px solid white;
    }
    &:focus{
    	outline:none;
        text-decoration:none;
    	color:white;
    	background:$default-background-color;
        border:1px solid white;
    }
}

.forgot .login-t{
	margin-top:6%;
	text-align:left;
	letter-spacing:0.1em;
}

.forgot .btn-forgot {
    margin-top:5%;
    background-color:$default-background-color;
    outline: none;
    color: #fff;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: $default-background-color;
    &:hover{
        background-color:$default-background-color;
         border-color:$default-background-color;
    }
}


.forgot .panel-forgot>.panel-heading a.active{
    color: $default-background-color;
    font-size: 1.3em;
    font-family:$default-font-groups;
}