<section class="forgot">
 <div class="container">
	    <div class="row">
	      <div class="col-md-6 col-md-offset-3">
		        <div class="panel panel-forgot">
		          <div class="panel-heading">
		            <div class="row">
		              <div class="col-xs-3">               
		              </div>
		              <div class="col-xs-6">
		                <a href="#" class="active" id="login-form-link">Mot de passe oublié</a>
		              </div>
		              <div class="col-xs-3">               
		              </div>
		            </div>
		            <hr>
		          </div>
		          <div class="panel-body">
		            <div class="row">
		              <div class="col-lg-12">
			                <form id="password-form" role="form" style="display: block;">
			                  <div class="form-group">
			                    <input type="text" name="email" id="email"  ng-model ="user.email" tabindex="1" class="form-control" placeholder="email" value="">
			                  </div>             
			                  <div class="form-group">
			                    <div class="row">
			                      <div class="col-sm-6 col-sm-offset-3">
			                        <input type="submit" name="password-submit" id="password-submit" tabindex="4" class="form-control btn btn-forgot" value="Réinitialiser" ng-click="vm.passwordReset(user)">
			                      </div>
			                    </div>
			                  </div>
			                </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
                  
                
</section>
