<section class="admin section-padding container">
    <div class="container" id="admin-groups-index">
        <div class="row section-padding">
            <div class="row page-header">
                <div class="col-sm-3">
                    <h1>Admin Groups</h1>
                </div>
              <div class="col-sm-6">
                <form class="filters">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row wrapper">
                                <div class="col-sm-8">
                                    <label class="sr-only">Search</label>
                                    <input name="search" placeholder="search" type="text" class="form-control search" ng-model="filters.search" ng-model-options="{ debounce: 500 }" ng-change="">
                                </div>
                                <div class="col-sm-4">
                                    <input class="submit" type="submit"  ng-click="filtersUpdated()" value="" />
                                </div>
                            </div>  <!-- .row-->
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                   <label class="serach-label">filter by value</label>
                                </div>
                                <div class="col-sm-7">
                                    <label class="sr-only">Sort By</label>
                                    <select name="sort" class="form-control" ng-model="filters.sort" ng-model-options="{ debounce: 500 }" ng-options="sort.value as sort.label for sort in sorts" ng-change="filtersUpdated()">
                                    </select>                                   
                                </div>

                            </div>
                        </div>                        
                    </div>
                </form>
            </div>
            <div class="col-sm-3">                
                <button type="button" class="btn btn-add btn-primary"  ng-click="launchAddGroupForm()">Add New</button>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>                    
                        <th class="stretch">name</th>
                        <th>id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="group in groups" ng-click="redirectToGroupDetails(group._id)">                    
                        <td ng-bind="group.name"></td>
                        <td class="nowrap" ng-bind="group._id"></td>
                    </tr>
                    <tr ng-show="groups.length === 0">
                        <td colspan="3">no documents matched</td>
                    </tr>
                </tbody>
            </table>
            <div class="well" ng-if="pages.total > 1">
                <div class="btn-group pull-left">
                    <button disabled class="btn btn-default">Page {{pages.current}} of {{pages.total}}</button>
                    <button disabled class="btn btn-default">Rows {{items.begin}} - {{items.end}} of {{items.total}}</button>
                </div>
                <div class="btn-group pull-right">
                    <button class="btn btn-default" ng-class="{disabled: !pages.hasPrev}" ng-click="prev()">Prev</button>
                    <button class="btn btn-default" ng-class="{disabled: !pages.hasNext}" ng-click="next()"> Next</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="newGroup.html">
        <div class="modal-header">
            <h5 class="center modal-title">New Admin Group</h5>
        </div>
        <div class="modal-body">
            <form autocomplete="off" role="add"  id="add-form"  name="addHairdresserForm"  novalidate ng-submit="$ctrl.addAGroup(fullname)">
               <input name="name" type="text" placeholder="enter a name" class="form-control" ng-model="fullname" required>
                <div class="container"> 
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-1">
                            <input  type="submit"  name="update-submit" id="update-submit" tabindex="2" class="btn btn-confirm btn-primary" value="Add" >
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-primary btn-cancel" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>  
       </div>
    </script>  
</section>